[2014-01-19 20:53] gre opened #1 "fail on push"
Hi,

First thanks for this tool which is very useful to maintain my micro libs.

However I found that it always fail on the git push step for me,
I think it should do an explicit "git push origin master" instead of "git push" because that second command is likely to fail for various reason.

For instance if you have other branches (e.g. `gh-pages` and out of sync, the push will try to push them al

[2014-01-21 12:32] #1 closed, assigned to nobody

[2014-01-27 16:20] SBoudrias opened #2 "Auto convert CRLF to LF"
From time to time, I found myself working on a windows machine. Then I'm like good, feels ready for a release. But then, bam, bug reports enters, CRLF is breaking bin files on Unix systems.

Anyway, I feel it'd be nice if there'd be a safe guard where the release helper automagically convert everything (or only bin files?) to simple LF and prevent eventual problems :)

[2014-01-27 20:01] #2 closed, assigned to nobody

[2014-02-23 14:32] gamtiq opened #3 "release-it hangs on username request in Windows"
In my system (Windows 7) `release-it` does not finish releasing process because the tool hangs on username requesting. Below is console output:

[code]

`.release.json` for the project is the following:

[code]

[2014-03-03 13:16] #3 closed, assigned to nobody

[2014-04-16 22:13] stephanebachelier opened #5 "Support bower for publish command"
Hi @webpro,

It will be great to support publishing to bower repository.
What do you think ?

++

[2014-04-16 22:31] #5 closed, assigned to nobody

[2014-05-09 13:05] gregberge opened #6 "Use mversion"
There is a module called [mversion](https://github.com/mikaelbr/mversion) that you could use no?

[2014-05-09 13:36] #6 closed, assigned to nobody

[2014-06-24 22:08] stephanebachelier opened #7 "Failed to install 0.0.8 version: shasum check failed"
[code]

throws an error:

[code]

I have tested on node v0.10.26 and v0.11.3.

[2014-06-25 13:07] #7 closed, assigned to nobody

[2014-06-27 18:11] fenduru opened #8 "Copy package files to distRepo"
In my source repository, I have:

[code]

I would like to publish bower.json and artifact.js to the dist repo so it looks like:

[code]

However, if I use distBase: 'dist', then it will only copy the files that are inside the dist folder. This means that I have to manually update the distributed bower.json when my dependencies change/update, which makes pushing to the dist repo no longer automated

[2014-07-03 01:57] ouadi opened #9 "Release-it fails with "WARNING There was a problem bumping the version in package.json""
Hello dears,

I'm trying to use the 'release-it', with no luck.

When I run `release-it -e -V`, it shows the following :

[code]

When I run `type bump`, it says `bash: type: bump: not found`.

When I have installed bump using `npm install -g bump` and run again `release-is -e -V` with no luck (the same output). When I have run `bump package.json 0.2.16`, it behaves strangely as it sets the versio

[2014-07-03 14:31] #9 closed, assigned to nobody

[2014-07-07 19:35] #8 closed, assigned to nobody

[2014-11-02 15:11] DavidSouther opened #13 "Changelog verification"
What would it take to add a step to check that either README or CHANGELOG had something that looked like the latest release version in it, or dropped to $EDITOR to create a changelog message when cutting a release?

[2014-11-10 06:25] #13 closed, assigned to nobody

[2014-12-01 21:36] reggi opened #14 "Add custom commit message within CLI?"
I don't see this in the options, is it possible?

[2014-12-02 15:34] #14 closed, assigned to nobody

[2014-12-22 02:29] msieurtoph opened #15 "New line in --message option"
Hi.

Maybe a weird usage but I tried this :

[code]

and finally I got this into github as a commit message :

`[ '', 'Release %s\n- improve readme\n- add codeclimate badge' ] '0.1.2'`

Link : https://github.com/msieurtoph/any-packages/commit/156500d044bfdf9f7e21ac03f3949e5eeb5a747e

Not really annoying but if it can be enhanced, it would be cool.

Thx anyway for your package, it makes release pro

[2014-12-22 02:36] #15 closed, assigned to nobody

[2015-01-16 15:54] jrschumacher opened #16 "Don't ask to publish to npm if private === true"
Would it be possible to prevent the `Publish "..." to npm?` if the package.json contains `"private": true`?

[2015-01-16 20:55] webpro commented on #16
The default for `publish` is `false`. So you mean it should not publish to npm even for `"publish": true` in a private package? I guess in that case npm will refuse to publish anyway?

[2015-01-16 21:12] jrschumacher commented on #16
Yea I'm just thinking of some of our jr devs who might be confused. Given what you said I'd feel far less concerned of accidentally leaking private code but not showing up entirely would be nice assuming it wouldn't conflict with others existing workflow.

[2015-01-16 21:16] webpro commented on #16
It's still a nice feature indeed. I'll see what I can do in the next few days. Or, PR welcome!

[2015-01-16 21:25] jrschumacher commented on #16
I'll take a look and see if it's something I can do ;)

[2015-01-17 22:03] webpro commented on #16
Done in 7bdadb6351efb121c4cec109072577bb62a9ade3. Released as v0.0.14. Please let me know if it works for you.

[2015-01-17 22:03] #16 closed

[2015-01-21 15:50] jrschumacher commented on #16
@webpro awesome I'll check it out

[2015-01-21 17:15] jrschumacher commented on #16
@webpro works great thanks!

[2015-01-21 19:06] webpro commented on #16
Thanks for the feedback, @jrschumacher!

[2015-01-30 17:11] jameswilson opened #17 "Release to github"
We're using npm command line scripts as a build tool for a private project on a private repo in GitHub where it doesn't make sense to release / publish to npm package registry.

Can the options somehow be configured to create a release on the *GitHub* repository,  and not be published to NPM? I wasn't able to grok this just reading the readme file.

Thanks!

[2015-01-30 19:55] webpro commented on #17
It checks the "private" setting in your package.json, and you can also use the "publish" option. Also see #16.

[2015-02-02 16:37] jameswilson commented on #17
Thanks @webpro , so if I understand correctly, setting private to true would make it not be published at all?  I don' t necessarily want to do that.  I would like the publish feature to leverage the tag it created in the repository to publish a release to GitHub (instead of NPM package registry) using GitHub releases:

* https://github.com/blog/1547-release-your-software
* https://help.github.com/

[2015-02-02 16:51] webpro commented on #17
If you set `"private": true` in your package.json, then npm will refuse to publish it.

Publishing to npm is a different thing compared to pushing a tag to GitHub. This project can tag commits and annotate the tag (i.e. a basic way to release a package on GH), but it does not have the feature to fully create a release, including a description, as described in https://help.github.com/articles/creat

[2015-02-02 16:53] webpro commented on #17
See for instance [this project's releases](https://github.com/webpro/release-it/releases) what you'd get.

[2015-04-22 20:41] takotuesday opened #18 "when including; "private: true' in execute, release hangs upon finishing"
Here is my release.execute call:
[code]
After running release, I am able to publish to git, and as expected I am not prompted to publish to npm. The problem is however, that the task hangs after 'Finished' and I must hit enter to end the procress. This doesnt happen when 'private' is not passed as an argument to execute.
[code]

[2015-04-23 06:56] webpro commented on #18
The first thing that comes to mind is that you probably need to exit the process in Node. See the CLI binary: https://github.com/webpro/release-it/blob/master/bin/release.js. Are you handling this in your `done` function? E.g.:

[code]

PS There might be a better way to do handle this using Inquirer, haven't looked into this for a while.

[2015-05-29 13:54] erikgb opened #19 "Support for Maven (SNAPSHOT) versioning"
##### First some background
We are in the process of introducing proper versioning, including releasing, to our Grunt build. Our Grunt build is producing a common "style guide" - used by various in-house developed applications (both Java and .Net). Mostly I work with Java, and use Maven for build and dependency management. From our Java applications, the "style guide" is embedded using [WebJars](h

[2015-05-31 14:36] webpro commented on #19
Hi @erikgb, I think I mostly get what you want to achieve, but could you please make it more detailed by  describing the steps roughly in Git commands?

[2015-06-01 07:43] erikgb commented on #19
Thanks for your feedback, @webpro!
I will try to explain in a little more detail - especially the git commands:

Let us assume that we want to release version 2.0.0 of our artifact. The current version in HEAD of branch will then probably be something like 2.0.0-SNAPSHOT.

1. Check for local modification: `git status`
1. Modify version to release version (2.0.0) in applicable files and commit chan

[2015-06-04 07:21] cvan opened #20 "Should default to publishing to npm"
According to the README:

In my project, `N` is the default:

I could be wrong, but it looks like [this `default`](https://github.com/webpro/release-it/blob/master/lib/enquiry.js#L57) should be set to `true`.

[2015-06-04 09:43] #20 closed

[2015-06-04 09:49] webpro commented on #19
So you it's one complete release phase for `2.0.0` (steps 1-3), and then one extra commit for `2.0.1-SNAPSHOT` (step 4)?

So your question is whether this tool could support that one extra versioning + commit step?

[2015-06-04 09:59] erikgb commented on #19
Correct! I tried to use this tool to release a SNAPSHOT-version, and it worked more or less. Based on the version being 2.0.0-SNAPSHOT in HEAD of branch, the tool released version 2.0.0 and set the tag correctly. But the "next development" version was set to 2.0.1 - which is obviously wrong when using the Maven versioning regime.

[2015-06-04 10:08] webpro commented on #19
Maybe you want another semver indicator like "major" or "patch" (e.g. "snapshot" or something) for this specific pattern, right? Not sure if I like this. But given that the current version is `2.0.0`, you could then just release `2.0.1-SNAPSHOT` by specifying this exact version?

[2015-06-04 10:47] erikgb commented on #19
You never **release** a SNAPSHOT version. A SNAPSHOT version is a version under development. See [this post](http://stackoverflow.com/questions/5901378/what-exactly-is-a-maven-snapshot-and-why-do-we-need-it) for an (more or less correct) explanation of SNAPSHOT versions.

A SNAPSHOT version gives the version (alone) the semantic meaning of being a _version under development_ (_'an unstable referen

[2015-06-04 10:49] webpro commented on #19
I understand, I should've said "you could then just *commit* `2.0.1-SNAPSHOT`" indeed. I mean, you can commit and not actually release with this tool.

[2015-07-20 17:23] webpro commented on #18
No reply, so closing this.

[2015-07-20 17:23] #18 closed

[2015-07-20 17:32] webpro commented on #19
@erikgb, feel free to reopen this if you'd like to discuss things further. But I'm closing this for now.

[2015-07-20 17:32] #19 closed

[2015-07-23 08:48] Necroskillz opened #21 "Unable to bump pkgFiles if they are different files for source and dist repo"
Hi,
I only have `package.json` in the source repo, and only `bower.json` in the dist repo. I would like to update both, but with
[code]
i get

[code]
Either it needs to not throw an error if the file is not found, or i would need something like `"distPkgFiles"`. It could also be regex or glob patter. What do u think?

Thx

[2015-07-23 08:50] webpro commented on #21
Agreed, a warning should be sufficient. Will look into it later today.

[2015-07-25 12:47] Necroskillz opened #22 "config from .release.json is being overriden by command line arguments that were not specified"
Because command line arguments have highest priority, and optimist.boolean initializes all args to false. So all booleans in .release.json that also can be specified on the command line have no effect.

[code]

[2015-07-25 12:50] Necroskillz opened #23 "Syntax error in .release.json is not being reported"
If there is invalid json in .release.json, it is just ignored and default config is used. There should be an error message if the file exists and contains invalid json.

[2015-07-25 13:43] #21 closed

[2015-07-25 13:50] webpro commented on #23
Fixed with #24 .

[2015-07-25 13:50] #23 closed

[2015-07-25 14:57] #22 closed

[2015-07-25 14:59] webpro commented on #22
Thanks for the bug reports and PR, @Necroskillz!

I've kind of fixed this issue, but e.g. `--no-verbose` still doesn't work with this work-around. But at least regular command line options override other options again.

[2015-07-25 15:02] webpro commented on #22
Release as v0.0.17

[2015-07-25 15:09] Necroskillz commented on #22
If u replace (anyway obsolete) optimist with https://www.npmjs.com/package/yargs, you can specify default for boolean, that would be a better solution,

[code]

now you know for sure if its true/false of if it wasn't specified.

[2015-07-25 15:10] webpro commented on #22
Yes, I should replace optimist indeed. Maybe later :-)

[2015-07-25 15:11] Necroskillz commented on #22
I will create a new issue for u, so u don't forget. Thx for the fast fixes :+1:

[2015-07-25 15:13] Necroskillz opened #25 "Replace optimist"
Optimist is obsolete and doesn't support default values for booleans. yargs, for example, does. Required to fully fix #22.

[code]

[2015-07-25 15:20] Necroskillz opened #26 "Missing lodash from package.json in 0.0.17"

[2015-07-25 15:26] #26 closed

[2015-07-25 15:27] webpro commented on #26
Oops.. thanks for the report! Just released v0.0.18.

[2015-07-26 13:34] #17 closed

[2015-07-26 13:37] webpro commented on #17
Hi @jameswilson, you might be interested to hear that the feature we discussed is available.

[2015-07-26 18:20] #25 closed

[2015-08-03 20:22] petersandor opened #29 "Error on first run when allowed reporting of usage statistics"
Hi, I just installed this module and I got this error on first run (after accepting the tracking prompt). Running `npm v2.11.3` and `node v0.12.7` on Win7 x64.
[code]

Consecutive runs are without this issue.

[2015-08-04 04:12] #29 closed

[2015-08-04 04:13] webpro commented on #29
Thanks for not ignoring the error, @petersandor! Just released a fix in v0.1.4.

[2015-08-05 14:41] Necroskillz opened #30 "Do all non-git tasks first"
Hey,

Sometimes I run into an issue that cloning fails because rm didn't remove all files. By that time the source repo is already tagged and commited, and I have to manually delete the tag, the commit and force push to reset it to the original state.

I know I could run the script again with --force, but maybe it would be better if all the task that could fail ran first.

For example in order:
1.

[2015-08-05 19:06] webpro commented on #30
Mmm that's annoying indeed. In which case is the `rm -rf` not removing all the files?

One downside of such an order is that the process/documentation becomes less clear, and also the source code would be mixed up in terms of src/dist repo tasks. On the other hand, I do like the idea of having all incoming/local stuff execute first, before pushing anything. You will know upfront the dist repo is f

[2015-08-05 19:59] Necroskillz commented on #30
I've had a few cases where `rm` failed to remove some of the files in `.git` folder. Sometimes they become locked or something.

You have a point that with the interactive mode the order would be maybe a little confusing.

Also what might be an improvement, other than the 'only dist' option would be to run `rm` on `.stage` asap and bail if it fails. Other tasks are less likely to fail in my experi

[2015-08-06 10:48] webpro commented on #30
Great idea, I'll put that `rm` earlier in the task chain. Feel free to PR, though.

[2015-08-09 09:25] #30 closed

[2015-08-09 09:27] webpro commented on #30
I've released this as v0.1.5 (i.e. fd3d83b7b882ce2ef7ef11e115d4cd185b082224).

[2015-08-09 10:04] Necroskillz commented on #30
Thx. Its actually enough if you cd to the stage dir in another cmd, that will cause the rm to fail also.

[2015-08-09 10:07] webpro commented on #30
OK, that's the `rm` part. Misconfigured `buildCommand` or `distRepo` values will also make it fail before committing to src repo now.

[2015-08-09 10:13] Necroskillz commented on #30
:+1:

[2015-08-14 11:48] Necroskillz opened #31 "Rm dist folder before build"
Any reason you are not doing it? I think it would make sense.

[2015-08-14 11:57] webpro commented on #31
That would indeed make a lot of sense. I'll check it out soon. Feel free to submit PR.

[2015-08-16 11:54] lejenome opened #32 "Github Release Assets upload support"
Github AP v3 support uploading release assets. It will be very useful to upload the release file on every release (JS file, extension file, Executable file,...).

The API should be supported by node-github first: https://github.com/mikedeboer/node-github/issues/203
API documentation: https://developer.github.com/v3/repos/releases/#upload-a-release-asset

[2015-08-18 19:19] webpro commented on #31
Thinking of it, I'm a bit wary to just empty/delete the "dist" folder. Projects might have stuff in there (although maybe they should't), and this could easily be part of the build command itself (or e.g. `npm script`).

So I think it's a major change and I'm not sure it's worth it. Thoughts?

[2015-08-18 19:20] webpro commented on #32
Thanks for pointing me to the APIs ;-)

Do you have an example project that has such release assets? Haven't seen them in the wild yet.

[2015-08-19 07:55] Necroskillz commented on #31
Exactly - project might have stuff in there ... which we did, and it was stuff we didn't wan't to release.

Imho the build command should build everything that is needed to be released, so the stuff you get from dist folder is exactly what you want to release, and you shouldn't rely on other stuff just 'being there'.

Sure, you can have clean as part of the build command also, so maybe deleting di

[2015-08-19 09:02] lejenome commented on #32
Yes, It stills not wildly used, But it is very useful.
You can upload any format.

I will use this feature to automate uploading new releases to GitHub instead of my site.

examples:
- https://github.com/adobe/brackets/releases
- https://github.com/boot2docker/osx-installer/releases
- https://github.com/173210/DFBreak/releases
- https://github.com/stan-dev/rstan/releases

[2015-08-19 12:11] jameswilson commented on #17
@webpro, very cool!  Will check it out when I get a chance.  Thanks.

[2015-08-19 14:40] #31 closed

[2015-08-19 15:38] webpro commented on #31
So I've released v1.0.0 and the `distBase` folder gets wiped :-)

[2015-08-19 15:46] webpro commented on #32
OK that's interesting. However, it's not top priority (myself and probably not many people are using it cq would use it).

I can think of a simple configuration for this e.g. `releaseAssets: ["dist/file-%s.dmg", "dist/file-%s.pkg"]`, and then it would upload it as basename.

[2015-08-20 13:49] Necroskillz commented on #31
You didn't publish to npm btw :P

[2015-08-20 16:04] webpro commented on #31
Oh my, thanks :-) Now I did!

[2015-09-06 21:33] destroyerofbuilds opened #33 "Dist Directory When Not Building Artifacts"
I had a question, and potential workflow issue, when using the latest release of release-it programmatically (as compared to v0.0.15).

I tend to setup an npm run-script called `build` that will lint my node module using `jscs` and `jshint`. I also setup a an npm run-script called `test` to run my Jasmine/Mocha tests. Lastly, I set the `buildCommand` option to be `npm run build && npm run test`.

[2015-09-07 07:20] webpro commented on #33
Yes, the `dist` folder is created automatically, which isn't nice if you're not building anything.

If I understand correctly, this is not directly an issue for you now. So either you add the `dist.baseDir` to your `.gitignore`, or this tool should somehow have an option or way to not create this directory. A potential "fix" is to allow `dist.baseDir` to be `null`, and I can install some checks to

[2015-09-08 21:39] destroyerofbuilds commented on #33
@webpro, yes, you're correct. It's not an issue at this time.

For a little more insight, I actually maintain a package that bundles `release-it` with `conventional-changelog` to provide a complete release workflow for other package developers. Therefore, I wouldn't want to impose on each project by requiring that they add `dist/` to their `.gitignore` file. This is also why I wanted to avoid the

[2015-09-09 05:48] webpro commented on #33
@destroyerofbuilds Thanks for the feedback. The `.gitignore` idea was a temporary fix, I'm going to allow `dist.baseDir` to be `null`. Regarding managing that `dist` folder, the idea is that in most cases it's convenient, but you disable it (as of the next release).

[2015-09-09 06:06] #33 closed

[2015-09-17 18:51] shimikano opened #34 "Optional check for clean working directory?"
We've been using your tool as a replacement for [`npm version`](https://docs.npmjs.com/cli/version) for some time now, enjoying the additional features such as dry runs and interactivity.

One thing we're missing though is the check to make sure the git working directory is clean before releasing.

Do you think such an opt-in-able check is within the scope of release-it?

Thank you!

[2015-09-17 18:53] webpro commented on #34
Yes. I initially had it that way, but wanted more flexibility. But should
be an option at least indeed. I'll look into it soon.

On Thursday, 17 September 2015, shimikano <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-09-17 19:01] shimikano commented on #34
OK, thanks for the very quick reply!

As a little follow-up, since you mentioned flexibility:

Are you envisioning providing pre/post bump/release hooks in a similar way `npm version` or `grunt-release` do?

(The specific use case we're facing for a post bump command is a Maven Java project where we'd like to run `mvn versions:set ...` in order to also bump the version in the `pom.xml` -- right no

[2015-09-19 10:19] webpro opened #35 "Feature: pre-release / npm tag"
From https://github.com/webpro/release-it/issues/34#issuecomment-141190112.

[2015-09-19 10:21] webpro commented on #34
I've opened a new ticket for this (#35). However, this tool doesn't support bumping a version in XML files (only in JSON files, and only as a 1st level property).

[2015-09-20 03:51] dantman opened #36 "Explicit push repository url"
In one of the npm modules I maintain I use a read-only https url for my origin, and push my changes to my own fork.

I do this so I go through the same pull-request flow that any other contributor goes through and I don't accidentally push code that hasn't already went through CI testing directly to the main repository.

Rather than having the release tags pushed to my fork, failing when it tries

[2015-09-20 08:11] webpro commented on #36
That makes sense. So if I understand correctly, you're asking for something like a `src.repo`option that overrides the remote push url (i.e. the result of `git config --get remote.origin.url`) into e.g. the git url of your fork?

[2015-09-20 08:23] dantman commented on #36
Not exactly, that sort of implies that the actual config changing.

It's more like an option that makes `release-it` use `git push <repo-url> ...` instead of `git push origin ...`.

[2015-09-20 08:45] webpro commented on #36
OK I think I meant the same but explained it not too well. Should be easy to implement.

[2015-09-20 11:35] #34 closed

[2015-09-20 11:35] #35 closed

[2015-09-20 11:39] webpro commented on #34
@shimikano, please check out [v2.1.0](https://github.com/webpro/release-it/releases/tag/2.1.0) if you're interested. I've added the `requireCleanWorkingDir` option.

[2015-09-20 11:41] webpro commented on #35
@shimikano, please check out [v2.1.0](https://github.com/webpro/release-it/releases/tag/2.1.0) if you're interested. I've added release types (`pre*`) and a `prereleaseId` option for pre-releases; and the `npm.tag` option to register to npm with a specific tag.

[2015-09-20 14:18] #36 closed

[2015-09-20 14:19] webpro commented on #36
Released as [v2.2.0](https://github.com/webpro/release-it/releases/tag/2.2.0), please let me know if it works for you.

[2015-09-21 07:08] shimikano commented on #34
Thanks a lot for your efforts, @webpro :thumbsup:

I tried the latest version -- the new `requireCleanWorkingDir` option doesn't seem to work though.

Looking at the code, is the flag [getting passed to the correct invocation](https://github.com/webpro/release-it/blob/2.2.0/lib/tasks.js#L188) (dist vs source repository)?

[2015-09-21 07:33] shimikano commented on #35
Thank you for this as well!

While the release types implemented here are very handy too, what I actually meant in my comment in #34 is the possibility to _execute custom commands_ before or after the bump/release steps (sorry for my blurry phrasing).

grund-release provides
[code]
and npm version offers
[code]

for this purpose.

[2015-09-21 07:53] webpro commented on #34
Wow that was a weird oversight. Thanks for the catch, should be fixed now :-)

[2015-09-21 07:56] webpro opened #37 "Add more command hooks"
Also see #34 and #35.

[2015-09-21 07:56] webpro commented on #35
Ah I see. I actually like that feature as well. Will look into this later.

[2015-09-21 08:53] shimikano commented on #34
Thank you very much!

Confirming that `"requireCleanWorkingDir": true` successfully stops the release now.

However, it should be noted that the versions are still bumped and the `buildCommand` is run before the release is canceled.

In my opinion, ideally, the check for a clean working dir should be at the very beginning and the release should be stopped right away without modifying any files. Ot

[2015-09-21 08:54] shimikano commented on #35
Looking forward, thank you!

[2015-09-21 10:13] shimikano commented on #34
Adding to my previous comment, it seems that `"requireCleanWorkingDir": true` wrongly prevents releases in a clean working dir due to the bumped version files.

Here's the output of a sample session:

[code]

[2015-09-21 11:07] webpro commented on #34
Thanks for your patience. Things should work as intended now in v2.2.2. Let me know if you encounter any issues :-)

[2015-09-21 12:20] shimikano commented on #34
Thank you for the fix!

I can confirm that the logic is working fine now.

One more thing I noticed though:

Untracked files are not taken into account for the "clean working directory" check.

I would argue that they should, since otherwise, they inadvertently might end up in a distribution.

To this end, you could consider using `git status [--porcelain]` instead of `git diff-index` for the chec

[2015-09-21 12:29] webpro commented on #34
Thanks for the confirmation.

There's indeed multiple levels of "clean" here. I usually add the relevant paths to `.npmignore` and `.gitignore`. So personally I like the "loose" check here, but maybe we can add a `requirePorcelainWorkingDir` or `requireCleanWorkingDir="porcelain"` or something as well later on.

[2015-09-21 12:46] shimikano commented on #34
Yes, that's fine.

Adding finer control to the option à la `requireCleanWorkingDir="porcelain"` looks like a viable way to me.

Anyway thanks again for your work!

[2015-09-24 20:39] #37 closed

[2015-09-24 20:54] webpro commented on #37
@shimikano, I've added some command hooks. I would appreciate your feedback!

I've actually needed more hooks myself for https://medium.com/@webprolific/using-github-pages-the-easy-way-bb7acc46f45b, so that helped :-)

[2015-09-29 07:13] shimikano commented on #37
Excellent!

I can confirm that `beforeStageCommand` covers our use case of wanting to keep the version in our `pom.xml` in sync with the primary json version file.

Moreover, we use `beforeStartCommand` to have our tests run again before a release.

Thank you for your work, release-it proved to be a nicely customizable tool (and replacement for `npm version`) for us.

[2015-09-29 07:30] webpro commented on #37
Thanks a lot for your feedback, appreciate it!

[2015-09-29 08:43] Necroskillz opened #38 "Release-it only tags source repo"
Hi,

seems that change in commit 6179c5d10b8e7faf338baea69bf838772a67069e made it so that the dist repo is not tagged. I understand from the commit message that this is for the case that dist repo is the same as source repo (dunno when does that make sense), however that is not our case - the source and dist repo are different and both should be tagged.

[2015-09-29 13:05] webpro commented on #38
The dist repo is the same if the release goes to another branch (example: [gh-pages branch](https://medium.com/@webprolific/using-github-pages-the-easy-way-bb7acc46f45b)).

But I tried to be smart here, and not ask the tag question in that particular case. I'm going to see if I can detect whether src/dist repo have the same origin (probably not a good idea). Otherwise, probably, ending up with ask

[2015-09-29 13:13] Necroskillz commented on #38
You can always add another config property which defines whether to tag the dist repo

[2015-09-29 19:20] #38 closed

[2015-10-30 18:30] mlarcher opened #40 "not working in git-bash"
Here is the output I get when calling `release-it` in a git-bash shell on windows:
[code]
With the command prompt, I get a more expected:
[code]

[2015-10-31 19:33] webpro commented on #40
That would be hard for me to look into, since I don't have that set up. Any help would be appreciated.

However, the source code of release-it doesn't contain any calls to `substring`. Are you sure you don't have any errors during execution of e.g. a `buildCommand`?

[2015-11-02 09:47] mlarcher commented on #40
It seems it's the shell.js/exec failing to execute some windows command you pass it.
Here is the relevant log:
[code]

[2015-11-04 20:58] webpro commented on #40
Apologies for being unresponsive so far. So `shell.js` is executing the following command:

[code]

What happens if you run either that whole command manually, and what happens if you run `git diff-index --name-only HEAD --exit-code`, from the Git repo?

Some relevant links:

* https://github.com/SBoudrias/Inquirer.js/issues/272
* https://github.com/eslint/eslint/issues/4018

[2015-11-04 23:11] mlarcher commented on #40
When using the first command, I end up in a windows CLI, as if the params were not taken into account:
[code]
I have to use `exit` to get back to the git-bash shell.

When  using the second command, I get `package.json` output.

For what it's worth, release-it doesn't have this problem on older version of git-bash (1.9.6 I think)

[2015-11-11 18:31] jfairley commented on #32
I would use this. :+1:

[2015-11-11 18:34] jfairley opened #41 "Use case for "dist.repo" ?"
I'm failing to understand the use case for `dist.repo`. The script will push my compiled sources to some repository other than the origin?

I know bower commonly pulls from github. Is that the inspiration?

Could you provide a real-world use case (with examples)? I just want to understand it, so I can see how to properly leverage the functionality in my own project.

[2015-11-12 13:14] webpro commented on #41
Exactly. To sum up the majority of the reasons: it's a good practice to leave generated files out of the source code repository. Also see: https://github.com/webpro/release-it#distribution-repository.

Real-world example: [rsvp.js](https://github.com/tildeio/rsvp.js), [DOMtastic](https://github.com/webpro/DOMtastic). This project itself is using a branch of its own repo to release documentation at

[2015-11-12 13:17] webpro commented on #40
Closing, since I'm pretty sure there's not much we can do in this project. Feel free to discuss, though.

[2015-11-12 13:17] #40 closed

[2015-11-15 17:47] mlarcher commented on #40
This looks like an escaping issue that could be fixed on either sides. If you're not willing to investigate any further, I won't insist. I just won't use your library even though it looks promising, as most of my team uses git-bash as their goto shell.

[2015-11-15 18:52] webpro commented on #40
I don't think it's an escaping issue, please see https://github.com/SBoudrias/Inquirer.js/issues/272#issuecomment-138375494 for an explanation and links to more related details.

[2015-11-15 19:41] mlarcher commented on #40
Thanks for the link. I better understand the core issue now.
One thing puzzles me, though : if the issue is about gitBash not being a true TTY, how come release-it was not crashing in a previous version of it ?
Anyhow, thanks for your time and keep up the good work.

[2015-11-19 01:24] hitsthings opened #42 "Add an option to use the repository from the package.json"
That would be the canonical repo, so would make sense (at least in my case) to use it as "src.pushRepo".

[2015-11-20 08:54] jmendiara opened #43 "git push --follow-tags"
Have you consider using git v1.8.3 [`git push --follow-tags`](https://git-scm.com/docs/git-push) instead of `git push && git push --tags` ?

As the tag is annotated, this will prevent for uploading developer unannotated custom tags

[2015-11-20 13:05] webpro commented on #42
The default (for `git push`) is whatever is configured to be the push origin in the local repo (see `git remote -v`). Also, I think by default the `repository.url` in `package.json` should match this (not the other way around).

Apparently, you have a different setup, so you can override `src.pushRepo` any way you like.

Please let me know if I'm misunderstanding you. Feel free to re-open, but I'm

[2015-11-20 13:05] #42 closed

[2015-11-20 13:06] webpro commented on #41
Feel free to re-open and discuss further, but I'm closing this due to inactivity.

[2015-11-20 13:06] #41 closed

[2015-11-20 13:07] webpro commented on #43
That's very interesting, @jmendiara, didn't know about this option. Will definitely try this out soon. Thanks!

[2015-11-20 19:32] hitsthings commented on #42
I normally have that setup too, and most people will. But the git configuration is defined by the local dev and the codebase itself has no input into how the local setup looks. Conversely, the package.json is defined by the codebase and can point to the known canonical repo no matter what the local setup looks like. If I'm publishing to NPM, then I want the tags in the canonical repo.

Take this s

[2015-11-21 07:59] webpro commented on #42
Regarding the extra local clone. In the situation you describe, I would *stash* my work, go to the branch, fix, release, change back to branch I was working in, apply stash.

And, imho the need to change this in two locations (if at all? YAGNI?) doesn't weigh up against creating that script. DRY is great, but not at all costs.

[2015-11-21 23:36] hitsthings commented on #42
Thanks Lars, I think I just realized that `release-it` is not for me. Not because you're not implementing this (like I said, I'd already solved it), but because the value I was getting out of using it was already minimal, and it sounds like you're generally not interested in supporting more flexibility in workflows.

To address your two points (just for the sake of offering another perspective - I

[2015-12-04 06:05] jfairley commented on #41
Thanks for the response. :beers:

[2015-12-11 06:47] elfet opened #44 "Integrate checks from publish-please"
Hi!

What about integrating prepublish checks from https://github.com/inikulin/publish-please?

Now can't use both, but it will be awesome if every will follow UNIX-way. (one lib for checks, one for publish).

[2015-12-11 13:56] webpro commented on #44
Thanks for the pointer, looks interesting. But if release-it would integrate the checks, then it would do "everything", which isn't unix-y, right? Or am I misunderstanding you?

[2015-12-21 21:30] KapuzenSohn opened #45 "[Feature] Support for conventional changelog"
[Conventional changelog](https://github.com/ajoslin/conventional-changelog) is a commit convention from angular. I think it is really nice and also very readable for everyone.

There is a node dependency called [commitizen](https://github.com/commitizen/cz-cli) where you use `git cz` instead of `git commit`, `git cz` works same like `git commit` but you go through a command line tool which support

[2015-12-22 18:59] stephanebachelier commented on #45
@KapuzenSohn you can use the `changelogCommand` property in `.release-it.json`.

[2015-12-22 20:51] KapuzenSohn commented on #45
Oh yeah, you are right. I forgot that there was a command for that.

[2015-12-22 20:51] KapuzenSohn commented on #45
I will close this issue for now

[2015-12-22 20:51] #45 closed

[2016-01-13 05:45] davelandry commented on #32
I'd also love this feature 👍🏻

[2016-02-03 00:13] destroyerofbuilds opened #46 "Insight only in CLI"
Would you consider moving the `insight` setup into the [fromCli](https://github.com/webpro/release-it/blob/master/lib/release.js#L7) function so that `insight` is not started, and user's aren't asked permission, if `release-it` is used programmatically by other modules?

[2016-02-04 04:45] gld1982ltd commented on #32
:+1:

[2016-02-09 21:56] webpro commented on #46
I also would consider removing it entirely as I don't really use it. I wanted to get an idea of usage of this tool and I have it. I think I'll just remove it in the next release.

[2016-02-09 21:56] #46 closed

[2016-02-16 16:52] destroyerofbuilds commented on #46
That sounds great @webpro. Thank you!

[2016-02-23 09:25] msieurtoph opened #47 "Cannot install release-it anymore"
Hi,

I got this really strange error after updating npm and my other global modules :

[code]

An idea about the root cause ?
I cannot install the module anymore ... which makes me very sad ! :)

[2016-02-23 09:31] msieurtoph commented on #47
For the record: if I try with my old npm :
[code]
It works ...
[code]

... really strange!

[2016-02-23 09:38] webpro commented on #47
Hard to tell.. It "works on my machine" is the best I can say for now (just tried it with matching versions)... Maybe upgrade to the latest versions of Node and npm?

[code]

[2016-02-23 09:54] msieurtoph commented on #47
Thankx for your answer.
I have the latest versions of node and npm, as you can see in the error message.

Can you perform antoher test for me ?
Can you try to completely uninstall it and then re-install it ?

The point is that I succeed to install other global modules like forever, grunt-cli, npm-check-updates, ...
release-it was the only one that generates this error.

[2016-02-23 10:07] webpro commented on #47
Node's latest version is v5.6, but I don't think it's relevant here, npm is currently at v3.7.3 indeed.

I did the global uninstall and install, not seeing any issues. Maybe this gives some information: https://duckduckgo.com/?q=npm+%220.0.1alpha1%22

[2016-03-28 12:02] jmendiara commented on #45
If I'm not wrong, `release-it` executes `changelogCommand` before bumping version in `package.json`

`conventional-changelog` expects having the [version bumped before the execution of the command](https://github.com/stevemao/conventional-changelog-cli#recommended-workflow), resulting in `conventional-changelog` to not identify the new version correctly.

Is there any chance to generate the change

[2016-03-29 11:41] webpro commented on #45
@jmendiara you could put it in e.g. `src. beforeStageCommand`.

[2016-04-01 15:55] jmendiara commented on #45
yeah, but is it possible by using the CLI?

[2016-04-04 11:38] webpro commented on #45
@jmendiara It should be (I think e.g. `src.beforeStageCommand="my cmd"` should work). You can also put it in a local `.release.json` file.

[2016-04-26 09:33] sqwk opened #48 "Could not create changelog from latest tag"
I am getting the following error with an unchanged .release.json file. (I have previously used release-it successfully)

    WARNING Probably the current version in package.json is not a known tag in the repository.
    ERROR Could not create changelog (0.3.2) to HEAD.

The relevant sections in the .release.json file are as follows:

    "commitMessage": "Release v%s",
    "tagName": "v%s",
    "t

[2016-04-27 16:11] sqwk commented on #48
Turns out that prepending a v helps:

    "changelogCommand": "git log --pretty=format:'* %s (%h)' v[REV_RANGE]",

[2016-04-27 16:11] #48 closed

[2016-04-28 18:52] #47 closed

[2016-05-16 21:35] jfairley opened #49 "initial release errors"
I have a new project where I'm trying to do an initial release. `release-it` fails on

[code]

which resolves to

[code]

As far as I can tell, the range it's building is "`package.version` to HEAD", but in this case, what I have in `package.version` doesn't represent a valid tag.

To get this out, I had to add a custom "changelogCommand" for my initial release.

[code]

For subsequent releases I

[2016-05-16 21:38] jfairley commented on #49
One option would be to inspect whether the result of `git tag --list` is empty. If so, no value for `REV_RANGE`.

[2016-05-18 22:21] webpro commented on #49
Hi @jfairley, thanks for the report. I think I've [implemented](https://github.com/webpro/release-it/commit/c0f3b9e6a0503919738d079161e1fbab9f58f5cd) a solution for the initial release in [2.4.0](https://github.com/webpro/release-it/releases/tag/2.4.0). Could you please test if this works for you?

[2016-06-02 10:44] AdrianSkierniewski opened #50 "Error: 504: Gateway Timeout from github"
Hi,

I was trying to create github release using release-it but after running release-it without any errors, github release was missing.  I tried to find what is going on and I manage to log error response from `githubClient.releases.createRelease`. I was getting 504 response all the time but without any warnings from release-it. I double check my token and I mange to send a request using Postman

[2016-06-02 11:00] AdrianSkierniewski commented on #50
I solved this issue by increasing timeout to 50000

[code]

[2016-06-10 19:30] jfairley commented on #49
@webpro Sorry it took me a month to test. I just created [a little demo project](https://github.com/jfairley/release-it-test), and it worked great. Thanks!
https://github.com/jfairley/release-it-test/releases

[2016-06-10 19:30] #49 closed

[2016-08-01 01:41] doliver3 commented on #43
First, thanks for making a great release tool.

Could you implement this --follow-tags option by default instead of git push --tags
git push --tags sends all of your local tags even if they are tags which are only pointing to your local repo that you have not committed to the server. It creates tag pollution from multiple users in the shared central repo, and some of those tags may not point to an

[2016-08-01 01:50] doliver3 opened #52 "npm-shrinkwrap.json is not being updated to match package.json"
I like release-it a bit better than the default npm version command since release-it has better support for named prerelease tags like beta, RC, etc.  I like to run npm shrinkwrap to freeze my dependency versions and I check in my npm-shrinkwrap.json into GIT.

However, I notice that release-it doesn't update the npm-shrinkwrap.json file like npm version does by default. This makes the package.jso

[2016-08-01 19:20] webpro commented on #52
I'm not sure about the `npm-shrinkwrap.json` structure, but did you try to add it to the `pkgFiles` array in the configuration?

[2016-08-01 20:24] webpro commented on #43
Thanks for the report and explanation. I've released this change as a bugfix release in [v2.4.1](https://github.com/webpro/release-it/releases/tag/2.4.1).

[2016-08-01 20:24] #43 closed

[2016-08-05 06:46] webpro commented on #50
Hi @AdrianSkierniewski, thanks for the feedback. I want to upgrade to the latest version of the `github` package. But I don't really like to increase the timeout to 50 seconds for everyone.

Maybe we can negotiate, and make it 10 seconds? :-)

[2016-08-05 06:51] AdrianSkierniewski commented on #50
sure :)

[2016-08-05 06:57] #50 closed

[2016-08-05 06:58] webpro commented on #50
I've just released this as [v2.4.3](https://github.com/webpro/release-it/releases/tag/2.4.3).

[2016-08-08 12:34] ayhid opened #53 "access tag name in release hooks"
First of all , thanks a lot for this package, it's saving my life on daily basis.
that said, I want to know if it's possible to access the tag name in some of the release hooks, `afterReleaseCommand` for example
Thanks in advance

[2016-08-08 12:37] webpro commented on #53
Thanks @ayhid. As per your request, I don't think so (at least not in non-hacky way). Please feel free to submit a PR with this, or I'll be happy to pick it up soon-ish.

[2016-08-08 12:54] ayhid commented on #53
@webpro thanks for your quick reply, I'll try to look deeper in the package to see how I can do that.
Any lead/clue to help me start this is more than welcome.

[2016-08-24 14:18] cdeutsch opened #54 "Add options for setting the prompt defaults"
It'd be great if you could default the prompts.

For instance I'd like "Publish to NPM?" to default to "Yes"

[2016-09-05 12:43] StephanBijzitter opened #56 "Allow pre-releases to be created without modifying the base version"
When I push a project with version `1.2.3`, I have configured my CI to automatically pre-release it as `1.2.4-commithash.0`, this is because I use `release-it prepatch`. I would prefer to create the release, without modifying the patch version, resulting in `1.2.3-commithash.0`.

[2016-09-26 18:15] seeden opened #57 "Unable to get remote Git url. | bug"
I am using latest version 2.4.3 and always I will get

ERROR Unable to get remote Git url.

What I am doing wrong?

[2016-09-29 19:08] webpro commented on #56
Maybe you can create a small script that resolves the desired version, and then run release-it with that.

[2016-09-29 19:11] webpro commented on #54
You can use `-n` (or `--non-interactive`) to run without prompts. Also, `-p` (or `--npm.publish`) to auto-publish to npm. Would this work for you?

[2016-09-29 19:12] webpro commented on #57
Could you please give some more information please? Is it an open project I can see? What output do you get when you run it with the `--debug` and `--verbose` arguments?

[2016-09-29 19:34] crdeutsch commented on #54
I should probably try non-interactive for a while, but I do like the interactive prompts.

I was just hoping there could be a setting in `.release.json` to set which prompts should  default to "Y" vs "N".

I may make a PR if work settles down.

This has been a great tool by the way 👍

[2016-09-29 19:38] webpro commented on #54
You can override the [default settings](https://github.com/webpro/release-it#default-settings) in a [local `.release.json` file](https://github.com/webpro/release-it#local-configuration-file).

[2016-09-29 19:42] crdeutsch commented on #54
Right, but I don't see an option to set this value:
https://github.com/webpro/release-it/blob/master/lib/enquiry.js#L79

[2016-09-29 19:49] webpro commented on #54
It should be `npm.publish`, ie. `{"npm": {"publish": true}}`.

[2016-09-29 20:05] crdeutsch commented on #54
That will control non-interactive but not change `(y/N)` to `(Y/n)`

![image](https://cloud.githubusercontent.com/assets/404765/18970234/1497a792-8656-11e6-821c-d5e6a98eddbc.png)

It's not a big deal. Just have to do a bit of extra training of co-workers to answer the last question with a "y"

[2016-09-29 20:42] StephanBijzitter commented on #56
True, but it'd still be nice to have it included in this library :-)

[2016-09-30 06:58] StephanBijzitter commented on #54
Why don't you fully automate it, @crdeutsch ?
I also implemented it for several teams, but figured human error would be way too common, so instead I automated everything on our CI.

[2016-10-02 14:17] seeden commented on #57
It was caused by new version of xcode.

[2016-10-02 14:17] #57 closed

[2016-10-07 19:05] bermi opened #58 "Add "pre" to releaseTypes"
Currently release-it doesn't allow bumping a pre release number.

For example:

Starting version `0.1.0`

[code]

We've increased the major as expected to `1.0.0` and added the `prereleaseId` `rc.0`

If we need to launch another release candidate, **currently there is no way for release-it to increase `rc.0` to `rc.1`**.

Running pre(major/minor/patch) will update the respective semver version, no

[2016-10-29 19:53] milesj opened #60 "NPM publish from a build folder?"
I would really like to use this project, but I seem to be getting lost. I actually have 2 issues to report, but thought it best to place them here, as they are somewhat related.

1) There seems to be a severe lack of documentation. I can't find any information on what each property in the `.release.json` file does, how it's used, how to fill it out, etc. I had to start reading the source code to f

[2016-11-11 02:45] msegado commented on #56
The core issue here is that node-semver (and by extension, release-it) only provides an API to _increment_ the version, but `1.2.3-commithash.0` is a version _decrement_ compared to `1.2.3`. There's an undocumented `pre` command in node-semver that does exactly what you want, but per my comment in #59 its probably not safe to expose or document it in release-it (at least not without pinning the ex

[2016-11-11 08:18] StephanBijzitter commented on #56
Well, although you are right that it in fact decrements the version, this is only the case when the `1.2.3` version already exists. In our project, this is how we work:

`master` is stable, and as such any changes to any module or additions of new modules, must be tested before merging to master. To do this, we work from branches where every commit is released using release-it under a beta flag. W

[2016-11-12 14:30] #56 closed

[2016-11-12 14:32] webpro commented on #58
Released in v2.5.0.

[2016-11-12 14:32] #58 closed

[2016-11-15 11:10] achichen opened #61 "`owner` is required for `createRelease` in node-github@6.0.4"
First would like to thanks for this convenient tool for speeding up my regular process making releases.

I am using the latest version of `release-it`, and since 2.5.0 upgraded to `github@6.0.4`. Releasing to github is broken due the missing `owner` parameter for `createRelease` function. Causing error:

[code]

[2016-11-15 11:17] achichen opened #62 "`tagName` is not used when checking exiting tag"
Though `tagName` is allowed to be specified in the config to create a customized tag. However, it is not used when checking exiting tag.

For example, my config:
[code]

and if i am trying to make a patch release from current version 1.0.3 (tag `v1.0.3`), then the correct change log should be:

[code]

However, the console prints

[code]

because it didn't find exiting tag `1.0.3`.

The problem se

[2016-11-15 19:35] #61 closed

[2016-11-15 19:35] #62 closed

[2016-11-15 19:53] webpro commented on #60
The docs are indeed not very extensive, my apologies. The good is news, I think, what you want is possible already by setting the `npm.publishPath` setting to `"lib"`.

Let me know if that works for you.

[2016-11-15 19:53] #60 closed

[2016-11-16 22:17] duivvv opened #65 "prepublish / hooks output in CLI"
Is there an option to show the output of my prepublish scripts & git hooks (pre-commit, pre-push)
I'm a bit in the dark right now when release-it is commiting / pushing / publishing

[2016-11-17 09:05] duivvv opened #66 "premajor > major"
Let's asume this case

current version **1.0.0-beta.0**
`release-it major`

It changes the version to 2.0.0, wouldn't it make more sense to change it to 1.0.0 (release version)

Or am I the only person thinking this way :)

[2016-11-17 09:07] duivvv commented on #66
my bad, was testing in the wrong directory..

[2016-11-17 09:07] #66 closed

[2016-11-21 19:01] webpro commented on #65
The `--verbose` option should output this. Did you try it?

[2016-11-22 09:06] swernerx opened #67 "GitHub release publishing is not working anymore."
I am doing:

[code]

which currently lead to the following output.

[code]

Is this something which was changed by Github?

[2016-11-22 09:57] webpro commented on #67
If you update release-it to the latest version, it should be fine. There was a change in the `github` repo recently. Let me know if you still have issues.

[2016-11-22 09:57] #67 closed

[2016-12-12 16:20] eugef commented on #52
Adding `npm-shrinkwrap.json` to the `pkgFiles` works

[2016-12-12 16:27] eugef opened #71 "Publish dist folder only to npm, not git"
If i specify the `buildCommand` then tool tries to add dist folder to git by running `git add dist --all` and fails because in my case dist folder is added to `.gitignore`

How can i publish dist folder only to npm, but not git?

[2016-12-13 12:53] eugef commented on #71
I found solution - `dist.baseDir` can be set `false`

[2016-12-13 12:53] #71 closed

[2016-12-13 20:35] webpro commented on #71
Glad you found a solution. FYI, you can also set `npm.publishPath` to "dist" to publish the contents of that directory to npm.

[2016-12-13 20:36] webpro commented on #52
Glad it works for you, @eugef.

[2016-12-13 20:36] #52 closed

[2016-12-14 09:00] eugef commented on #71
In my case i need to publish on npm the whole project including src and dist, but i want to exclude dist from git

[2016-12-14 19:57] szdavid92 opened #72 "Option to skip pushing to remote"
I would like to have an option to skip pushing the changes generated by the version bumping to the remote.

My reason is that I would like to publish / release snapshots automatically by CI when the given branch (master) is pushed. I cannot have bump commits for these however, as it would litter the branch excessively. I can live with `package.json` not being updated. Changing the version fis stil

[2016-12-15 22:27] webpro commented on #72
So if I understand correctly: ideally you only want to tag the current commit, and push this tag, right? Or also e.g. run the build command?

[2016-12-18 16:00] szdavid92 commented on #72
Right, I want to
- bump the version,
- publish the new version to npm,
- tag the commit,
- push this tag

[2016-12-20 21:16] leemi opened #74 "Support for GitHub Enterprise (Take 2)"
While trying to release to a GitHub Enterprise host, the create release task fails, since the GitHub API Client has a hard coded host (api.github.com), while Enterprise requires host/api/v3

[2016-12-21 16:05] rushil27 opened #76 "How to do bundling and minification of Angular 2 quick start project, to reduce HTTP call on initial load ?"

[2016-12-21 16:06] #76 closed

[2016-12-23 11:31] szdavid92 commented on #72
created a PR #77

[2016-12-23 12:35] StephanBijzitter opened #78 "Github push does not use access token"
This is the config file being used:
[code]
Now, it seems that the tokenRef is only used when creating a release on github, but not when pushing a commit to github. This means our CI currently cannot push anything (number 5 in https://github.com/webpro/release-it#what-it-does), which is bad.

[2016-12-30 12:01] webpro commented on #78
How about pre-configuring it? Eg. like so: http://stackoverflow.com/a/18936804

[2016-12-30 12:05] webpro commented on #74
Should be resolved with #75.

[2016-12-30 12:05] #74 closed

[2016-12-31 18:12] StephanBijzitter commented on #78
That's quite an interesting idea, I'll take a look when I get back from vacation!

[2017-01-04 13:55] mikedias commented on #32
Another example for uploading assets (I'm using it): https://github.com/remixz/publish-release

[2017-01-11 00:27] AlecRust opened #79 "Bump version in non-JSON files"
Would be great if this could update the version number in non-JSON files.

In my case I have a `.styl` file containing a version number in a comment:

[code]

Unfortunately if I add this file to `pkgFiles` it fails to update:

![screenshot](https://i.imgur.com/eZcBGgr.png)

[2017-01-11 15:21] webpro commented on #79
Hi @AlecRust. That file is not a package/manifest file, and it's not JSON, so it won't work. You could use the `src.beforeStageCommand` option, and automate the desired bump from there.

[2017-01-11 22:35] AlecRust commented on #79
Thanks for your reply. Any ideas how I would get the before / after version number to use in `src. beforeStageCommand` so I can perform this with something like [replace](https://www.npmjs.com/package/replace)?

I think the ability to find and update versions in non-JSON files would be a fantastic addition to Release It!

[2017-01-12 08:27] webpro commented on #79
There are many ways to accomplish this. You can use a Node script, but you could also replace the version string in-file from the command line (eg. `sed`). You can take the new version number from the bumped `package.json`.

Updating strings in "any file" sounds quite error-prone to me. With the regular manifest files we know it's always the `version` property in the root of the JSON structure.

[2017-01-12 08:27] #79 closed

[2017-01-25 21:11] AlecRust commented on #79
Thanks. For anyone searching I used [gulp-bump](https://github.com/stevelacy/gulp-bump) with gulp v4 in the end for this ([example](https://github.com/AlecRust/alec-rust/blob/master/gulpfile.js#L119-L146)).

[2017-01-28 20:35] Panajev opened #81 "Add option to create release branch in distribution repo"
It would be nice to be able to create the distribution branch in the remote repo starting from another remote branch.

Example:   I want preview-pr/branchA  created from preview and then pushed to origin.

[2017-02-06 18:06] miqmago opened #82 "Run npm build before git push"
Maybe this is more a question than an issue, but I'm not understanding the flow.

I've created a plugin which needs to be browserified before publishing to npm. But the plugin is also available under bower. So `build/bundle.js` should be commited to github, tagged and released there.

I've made an npm script like this:

[code]

When I use `release-it` to create a new version, all seems to be fine,

[2017-02-06 19:15] webpro commented on #82
Hi @miqmago! If I understand correctly, you might be looking for the `buildCommand` (or `src.beforeStageCommand`) [configuration setting](https://github.com/webpro/release-it#default-settings). You can use this like `--buildCommand="npm run build"` on the command line, or place a `.release.json` file in the root of the project, e.g.:

[code]

[2017-02-06 19:20] webpro commented on #81
You can use the hash `#` to target a specific repo, e.g. `"git@github.user/repo.git#branch`. Does that answer your question?

[2017-02-06 19:21] webpro commented on #78
Cool :-)

[2017-02-06 19:21] #78 closed

[2017-02-06 19:55] webpro commented on #72
Thanks @szdavid92, I've seen your PR. Let's discuss things here.

I'd like to understand the use case better before merging it. As I understand it now, using something like a "skipCommit" option leaves the repo in some modified state by only bumping the version.

* Does the commit you need to tag contain changes in your repo before starting release-it? Plus the bump?
* Does it make sense to change

[2017-02-06 20:48] miqmago commented on #82
Awesome, thanks and sorry, because this is already said in documentation :)
Maybe would help an example like the provided one in your answer.

[2017-02-06 20:48] #82 closed

[2017-02-06 22:00] StephanBijzitter commented on #78
oh, forgot to reply.
yes, it works.

[2017-02-10 22:32] janviehweger opened #84 "missing LFS support"
releasing LFS enabled repos seems to be not working.

[2017-02-11 11:59] webpro commented on #84
Hi @janviehweger. What exactly is not working? You can run the `release-it` command with the `-eV` arguments for verbose/error output. Looking at LFS, I'm not sure what this project would need to do in order to support it.

[2017-02-16 14:15] webpro commented on #65
Closing due to inactivity. Feel free to re-open.

[2017-02-16 14:15] #65 closed

[2017-02-16 14:19] webpro commented on #44
Closing due to inactivity. Feel free to re-open.

[2017-02-16 14:19] #44 closed

[2017-02-16 14:20] webpro commented on #54
Closing due to inactivity. Feel free to re-open.

[2017-02-16 14:20] #54 closed

[2017-03-02 16:51] joerideg opened #85 "Add support for option to not do a git tag when using release-it"
We are using npm prereleases currently as a way to share development versions across projects.

In short a developer publishes a prerelease of a module when he is done with a bunch of work and is ready to push to the git repository. Using release-it its really easy to release! However we would like to have the option to not set a tag everytime we create a prerelease without having to go throug the

[2017-03-02 16:54] webpro commented on #85
Thanks @joerideg. I think a solution that would also work for this use case is the option to override the default answers to the interactive questions. I'll look into this soon.

[2017-03-02 17:13] joerideg commented on #85
Awesome, looking forward to it!

[2017-03-04 08:57] #85 closed

[2017-03-04 09:01] webpro commented on #85
I've just released [2.6.0](https://github.com/webpro/release-it/releases/tag/2.6.0). Please let me know if it works for you.

[2017-03-08 17:07] joerideg commented on #85
I will check it out tomorrow!

[2017-03-19 22:50] mark-buer opened #86 "Add ability to specify different tagName for src and dist"
It'd be nice if we could specify a different `tagName` for the `src` and the `dist`.

A use-case for this is having one git repo for both of the `src` and `dist` (i.e. separate orphaned branches), a simultaneous release on two such branches cannot have the same `tagName`.

It's probably make sense to make all three of `commitMessage`, `tagName ` and `tagAnnotation` be separately specifiable for `d

[2017-03-20 10:25] joerideg commented on #85
It works btw :)

[2017-03-21 21:59] webpro commented on #86
That sounds useful and feasible. A PR is welcome, or I'll look into it myself later on.

[2017-04-02 21:10] StephanBijzitter commented on #85
I believe I configured our CI to add a tag including the commit hash, but it's been a while.
@joerideg What would the downside of a tag be, though? Wondering if I should remove the tags from our commits or not.

[2017-04-03 14:28] joerideg commented on #85
@StephanBijzitter well, in our case we use pre-releases. our CI builds with every push to origin and does a pre-release if succesfull. I just want to git tag my actual releases, not my pre-releases. Otherwise I would end up with 100's of git tags that will never be actually usefull.

[2017-04-03 15:02] StephanBijzitter commented on #85
Yeah we do the same, but in our case we have not had any issues with tags as we only tag the npm distributions and do not send tags back to our repository. So I was wondering why you would not want them, but you made a pretty clear case :-)

[2017-04-03 20:16] #53 closed

[2017-04-03 20:16] #86 closed

[2017-04-03 20:18] webpro commented on #86
The latest release [v2.7.0](https://github.com/webpro/release-it/releases/tag/2.7.0) contains this. Please let me know if it works for you.

[2017-04-03 20:19] webpro commented on #53
The latest release [v2.7.0](https://github.com/webpro/release-it/releases/tag/2.7.0) contains this. Please let me know if it works for you. Also see the updated readme.

[2017-04-05 03:09] mark-buer commented on #86
The changes are very effective 👍

Thank you!

[2017-04-05 15:09] swernerx opened #87 "Non interactive breaks with v2.7.0"
Hi!

I'll use the tool in most of my open source projects to release both GitHub and NPM releases which was super useful. Unfortunately with the current version it somehow breaks. With debugging on and in dry mode it's easy to see the error:

[code]

Do you have any idea where this is coming from?

Going back to 2.6.1 everything works fine.

Thanks for your work!

[2017-04-05 15:26] webpro commented on #87
Yes, I've seen this myself as well after the release. Not sure what it is yet, but I'm going to look into it soon.

[2017-04-05 20:34] #87 closed

[2017-04-05 20:35] webpro commented on #87
Fixed in [2.7.1](https://github.com/webpro/release-it/releases/tag/2.7.1)

[2017-04-05 20:43] webpro commented on #81
Closing due to inactivity. Feel free to re-open.

[2017-04-05 20:43] #81 closed

[2017-04-06 11:07] webpro commented on #86
Thanks for your feedback :-)

[2017-04-24 19:10] destroyerofbuilds opened #88 "`use strict`"
A few fellow developers are encountering the following error:

[code]

It seems, to be able to run code with `let` or `const` in Node 4, the file must have the `use strict` statement at the beginning.

Node 6 and later do not have this issue.

Node 4 is still widely in use, though in the _maintenance_ stage of its life,  as it's still supported by the Node LTS Working Group.

[2017-04-24 19:47] webpro commented on #88
Thanks for catching this @destroyerofbuilds, sometimes I forget to test in Node v4. Could you please open a PR for this? Thanks!

[2017-05-03 14:49] sudo-suhas opened #89 "Create changelog fails on windows"
My config:
[code]

Verbose output:
[code]
Dry run does not detect this issue and only fails when trying to release it.

Setting the `changelogCommand` property fixes it:
[code]

Would it be possible to detect the OS and change default settings? Or at least could we add a note to the README?

[2017-05-03 15:17] sudo-suhas opened #90 "undefined in console while creating github release"
Console output:
[code]

The release was created correctly as far as I can [see](https://github.com/sudo-suhas/elastic-builder/releases).

[2017-05-03 23:18] WaldoJeffers opened #91 "Push error"
Hello,

Thanks for this great utility module.
I have this error when I try to use release-it in interactive mode:
`Please make sure an upstream remote repository is configured for the current branch`.
I answered yes at every question, the changes to package.json were commited, but the push was unsuccessful, the release was not created, and the module was not published to npm.

My GitHub token is e

[2017-05-04 08:26] webpro commented on #91
Hi @WaldoJeffers, I think the error message included slightly more information. Did you configure both of these:

[code]

[2017-05-04 08:28] webpro commented on #90
Thanks for the report, @sudo-suhas. I'll investigate this, but I don't think these `undefined` logs are very problematic.

[2017-05-04 08:28] #90 closed

[2017-05-04 08:30] webpro commented on #89
Can you verify that your issue is specific to Windows? It is perhaps due to single/double quotes behavior is different in your shell?

[2017-05-04 08:38] sudo-suhas commented on #90
Thanks. I agree it's not problematic. Thought it was better to inform.

[2017-05-04 08:47] sudo-suhas commented on #89
The command with single quotes works on git-bash and powershell works but fails on command prompt(and cmder). On the other hand, command with double quotes works on all.

[2017-05-04 08:49] sudo-suhas commented on #89
Can't find an exact reference but this might be relevant - https://groups.google.com/forum/#!msg/msysgit/qzKNBrjYUUM/pYSXqpEiEBMJ

[2017-05-04 09:00] webpro commented on #84
Closing due to inactivity.

[2017-05-04 09:00] #84 closed

[2017-05-04 09:08] webpro commented on #90
Yes, it is appreciated! Logging in general could be improved.

[2017-05-04 13:54] WaldoJeffers commented on #91
Hello @webpro,

Haha yes, you're right, I am sorry. I couldn't reach the full error message because it was too far in my console, and didn't want to try the command again because it creates new commits (and I couldn't reproduce the error with a dry run). Anyway, I set up a new repo where I can try everything and make random commits. Here's the full stack trace

[code]

Yes, both of these are confi

[2017-05-05 10:28] WaldoJeffers commented on #91
Some updates about this issue: I think the problem comes from the fact that I need to enter my password for my SSH key when running `git push`. However, `shelljs` does not support [interactions in CLI](https://github.com/shelljs/shelljs/issues/716#issuecomment-299022822).

[2017-05-05 13:53] #88 closed

[2017-05-05 13:54] webpro commented on #91
Maybe these links are of help: https://github.com/webpro/release-it#ssh-keys--git-remotes

[2017-05-05 15:10] destroyerofbuilds commented on #88
@webpro I'm sorry I haven't submitted a pull request to address the Node 4 issue. I was trying to encourage my fellow developers at work to submit a pull request to add `use strict` statements.

Just a note, the actual error was in `lib/log.js`, which is still missing the `use strict` statement.

[2017-05-05 19:14] webpro commented on #88
No problem. I've put the statement in another file, but I guess it's applied to other modules loaded as well.

[2017-05-05 20:06] #89 closed

[2017-05-05 20:07] webpro commented on #89
I've released [v2.7.3](https://github.com/webpro/release-it/releases/tag/2.7.3) which uses double quotes for this. Hope this helps :-)

[2017-05-07 12:24] sudo-suhas commented on #89
Thanks!

[2017-05-16 12:01] sampi opened #92 "Add support for generating the changelog based on `src.tagName`"
If I specify `src.tagName`, the changelog will still be generated based on the version number from the `package.json` so I'll get the whole changelog for every release.

I replaced `[REV_RANGE]` with `$(git describe --tags $(git rev-list --tags --max-count=1))...HEAD` in my script and now it runs correctly, but respecting `src.tagName` would be the best solution.

[2017-05-16 12:03] sampi opened #94 "Specifying `github.preRelease='true'` throws an error"
When specifying `github.preRelease` in the command line, I get an error from the GitHub API saying that it's a string and not a boolean.

[2017-05-16 12:33] webpro commented on #94
Did you use/try `--github.preRelease` without a value (e.g. `--github.preRelease='true'`)?

[2017-05-16 12:35] webpro commented on #92
Thanks for reporting this, I'll look into it soon.

[2017-05-16 12:37] webpro commented on #91
Closing this issue (as I think the issue isn't in release-it). Feel free to re-open.

[2017-05-16 12:37] #91 closed

[2017-05-16 18:54] tnrich opened #95 "Publish to npm failing"
Hey there,

I'm getting the following error when trying to use release-it. As you can see I've tried printing out debug info, but am not getting much help from it.

![image](https://cloud.githubusercontent.com/assets/2730609/26122983/3121f46c-3a2e-11e7-8620-ff17738acf18.png)

Any help would be greatly appreciated. Thanks!

Here's my package.json:
[code]

[2017-05-16 19:14] webpro commented on #95
Hi @tnrich. Please use the `--verbose` (or `-V`) flag for more verbose output. Let's see what it tells us?

[2017-05-16 19:27] tnrich commented on #95
Hey there, thanks for the tip! Didn't see the -V flag in there. It turns out it is an adduser issue:
[code]
Right before this I signed into npm using `npm adduser`. Do I need to do something else?

[2017-05-16 19:34] webpro commented on #95
I assume with a manual `npm publish`, you are getting the same error?

I think there was an error, and you'll need to `npm adduser` again.

[2017-05-16 19:40] tnrich commented on #95
Nope, it works when I do it manually

[2017-05-16 19:55] webpro commented on #95
I'm not sure what the issue is. The user you've added and the `author` in `package.json` are the same? What does `npm whoami` give? Do you use an `.npmrc` file?

[2017-05-16 20:39] webpro commented on #92
The changelog is indeed derived from `pkg.version`, assuming you're not providing the `--increment` argument yourself.

The `src.tagName` is a formatting string, and shouldn't be a hard-coded version number.

Why don't you provide the `--increment` argument? E.g. `release-it --increment 0.5.1` or just `release-it patch`.

[2017-05-16 22:00] tnrich commented on #95
hey @webpro , here is the output of those commands:

[code]

[code]

I have no .npmrc file

[2017-05-16 22:05] tnrich commented on #95
Here's the output showing `release-it` not working, but `npm publish` working just fine. Very confusing as to why I would be getting this error:

[code]

[2017-05-16 22:07] sampi commented on #92
You can see my `.release.json` here: https://github.com/Tradeshift/tradeshift-ui/blob/master/.release.json

I'm prefixing the tag with `v`.

I wanted to go from `8.0.0-beta.2` to `8.0.0`, so I just ran `release-it 8.0.0` (or more precisely `yarn release -- 8.0.0`) and it just took the whole changelog.
Would the right way to do it be `yarn release -- --increment="major"`?

The yarn/npm script is de

[2017-05-16 22:09] sampi commented on #94
I tried to use it through an npm script, and I tried the following:

`"release": "release-it --github.preRelease=true"`

`"release": "release-it --github.preRelease='true'"`

`"release": "release-it --github.preRelease=\"true\""`

and I always got the same error.

The solution I found was to have separate `.release.json` files for prereleases and releases.

[2017-05-16 22:12] webpro commented on #92
Yes, you need the "extra pair of dashes" to pass arguments through to the program (release-it in this case):

[code]

[2017-05-16 22:13] webpro commented on #94
No, really, without a value:
[code]

[2017-05-16 22:26] webpro commented on #95
To be honest, I have no idea why npm is behaving differently within the release-it process. I'm doing this all the time myself (also Mac). Can't remember reports regarding this before.

Maybe you can run this on another machine? Just to try and rule out system-specific things (like aliases, or idk).

[2017-05-16 22:32] sampi commented on #94
I haven't tried that. What should happen if I do?
Does it get registered as `false` so I should have my config file include it as true or is it the other way?

Ideally, I'd like to have only one config file and two separate npm-scripts, the first to release a normal version, the other to create a prerelease.

[2017-05-16 22:36] webpro commented on #94
This setting is `false` by default, and by adding the command-line argument it becomes `true`. By using e.g. `npm run release -- --github.preRelease` I think you can achieve what you want.

[2017-05-16 22:40] sampi commented on #92
I used the extra dashes, but then you're saying that I should always use the increment values, instead of specifying exact version number. I'll keep that in mind.

This is getting a little off topic, but I think there's another reason why I didn't get the right values..
I think something is wrong with my repo, I tried running the commands by themselves:
[code]

I won't bother you with that, I'll j

[2017-05-17 11:53] webpro commented on #92
I would recommend `yarn release -- minor`. But `yarn release -- 8.0.0` should work just as well (especially if a repo behaves weird regarding tags). Sorry if I wasn't clear on this.

[2017-05-17 11:53] #92 closed

[2017-05-17 11:54] webpro commented on #94
I think we can close this? :-)

[2017-05-17 11:54] #94 closed

[2017-05-17 12:09] sampi commented on #94
yes, thanks for the help!

[2017-05-21 05:42] sudo-suhas opened #96 "Optionally reinstall dependencies"
Would it be possible to optionally enable reinstallation of node modules similar to [np](https://github.com/sindresorhus/np)?

Although an edge case, reinstalling modules before running tests can avoid build breaking after pushing to master branch like on this instance - https://travis-ci.org/sudo-suhas/elastic-builder/jobs/228378612.

[2017-05-22 14:47] webpro commented on #96
You could make `npm install` part of e.g. `buildCommand` or `src. beforeStartCommand `?

Also see https://github.com/webpro/release-it#command-hooks

Does this help?

[2017-05-22 14:57] sudo-suhas commented on #96
I would have to rm - rf before doing that to ensure the latest minor/patch is installed. But I am wondering if it is important enough to include in the core. Also, would prefer not adding another dependency.

[2017-05-28 08:04] KaidenR opened #97 "Errors are being swallowed"
I have a script that is running release-it as part of a deploy process and need to be able to tell that something went wrong and abort the rest of the script.

The problem is that when an error happens (like if `requireCleanWorkingDir` is true and the working directory is not clean), those errors are not thrown unless the `debug` config is set. I don't want all the other logging that comes with th

[2017-06-01 14:10] shovelyjoe opened #98 "Subversion support"
Is it possible to use this with SVN as opposed to Git?

[2017-06-02 06:11] sudo-suhas opened #99 "package-lock version not updated"
`package-lock.json` was newly added in npm 5. It is similar to `npm-shrinkwrap.json`. Running `release-it` does not update the version of package in lock file.
Example [`package.json`](https://github.com/sudo-suhas/elastic-builder/blob/master/package.json), [`package-lock.json`](https://github.com/sudo-suhas/elastic-builder/blob/master/package-lock.json)

[2017-06-07 12:46] webpro commented on #98
Unfortunately, there is no support for SVN in release-it.

[2017-06-07 12:46] #98 closed

[2017-06-07 12:47] webpro commented on #99
You can add `"package-lock.json"` to the `pkgFiles`.

Feel free to open a PR that adds this by default.

[2017-06-07 12:50] webpro commented on #97
I see your point, I'll look into it soon. PR is welcome, of course :-)

[2017-06-07 12:52] webpro commented on #96
Closing this, as it's trivial to put `npm install/update` before running this or in one of the command hooks.

[2017-06-07 12:52] #96 closed

[2017-06-07 12:53] webpro commented on #95
Closing this due to inactivity (and the fact I can't reproduce it). If anyone has similar issues, feel free to discuss it here.

[2017-06-08 03:10] sudo-suhas commented on #99
release-it uses [`JSON.stringify`](https://github.com/webpro/release-it/blob/71bef866f19c146af92995293dfc747a6bdec2c8/lib/shell.js#L116) for writing the `package.json` file. However, npm 5 [detects and preserves indentation](http://blog.npmjs.org/post/161081169345/v500) for `package.json`, `package-lock.json`, and `npm-shrinkwrap.json`. Would it be better to delegate to [`npm version`](https://doc

[2017-06-08 08:19] webpro commented on #99
* Is `npm version` available as a Node package?
* release-it still needs to bump the version in e.g. `bower.json` (or whatever manifest file users might want to bump), so we'd still need `JSON.stringify` here.

[2017-06-11 16:51] webpro commented on #97
In non-debug mode, the error is thrown. The process logs the error message (not the stack trace), and exits with a non-zero exit code (`1`). With `--debug` enabled, the stack trace is also printed.

For example (with `"requireCleanWorkingDir": true`):

[code]

Looks like this behaves as expected, right?

PS I did notice that errors from build commands (e.g. the `buildCommand` config) are being swa

[2017-06-14 15:28] MichaelMure commented on #32
Any chance that this happen ?

[2017-06-24 13:43] #32 closed

[2017-06-24 13:50] webpro commented on #32
I've added and released a first version of this feature in [v2.8.0](https://github.com/webpro/release-it/releases/tag/2.8.0).

How it works? Add for example a `"src.githubAssets": "dist/release.dmg"` (or `"dist.githubAssets": "*.zip"`) file pattern to your config to indicate the files to be uploaded with the release. This can also be an array (it's the first argument to [node-glob](https://github.

[2017-06-25 09:22] MichaelMure opened #100 "Github release as draft"
It would be neat to have an option to make a Github release as a draft instead of a published release.

That would allow to edit the release before the actual publish. It also help when you setup release-it the first time and don't want to screw things up.

[2017-06-25 09:24] MichaelMure commented on #32
Awesome.

I'll test that when I have an actual release to do.

[2017-06-25 09:28] MichaelMure commented on #100
It's just a flag to set in the request: https://developer.github.com/v3/repos/releases/#create-a-release

[2017-06-25 09:30] webpro commented on #100
There is a `github.preRelease` config for this, set it to `true` to make a draft.

[2017-06-25 09:32] MichaelMure commented on #100
That's not the same thing.
* `preRelease` is a release considered unstable, preview, alpha ...
* `draft` is a release that is not public yet on github, awaiting for further changes before publishing

[2017-06-25 09:35] webpro commented on #100
I'm sorry, you're right. I will add it soon, easy enough.

[2017-06-25 09:36] MichaelMure commented on #100
Yeaah o/

[2017-06-25 14:10] MichaelMure commented on #32
I tried in a test repo with the following config:
[code]

I get the following error:

Did I get it wrong ?

[2017-06-25 16:18] webpro commented on #32
@MichaelMure Contrary to what I thought, you can't provide an array as glob patterns. However, you can could give a pattern like `"release/*.(rpm|AppImage|deb|exe|dmg)"` (also see [Glob primer](https://github.com/isaacs/node-glob#glob-primer)).

[2017-06-25 16:19] #100 closed

[2017-06-26 02:43] MichaelMure commented on #32
What about this ? https://github.com/isaacs/node-glob/issues/217#issuecomment-280831467

[2017-06-26 05:55] webpro commented on #32
That's also interesting, thanks. But at first thought, it might be a bit overkill here. I wonder which cases a single pattern string won't cover?

[2017-06-26 13:08] MichaelMure commented on #32
Well, yes, you can do the same with a single pattern, but as a user, the array syntax is much easier. I don't have to go read the doc of node-glob and express what I want in a single regex like pattern. I just write an array of simple pattern as I would for `pkgFiles`, it's obvious.

[2017-06-26 13:09] webpro commented on #32
You mind opening a PR for this? I'd be happy to add this.

[2017-07-07 09:32] webpro commented on #97
I have made some improvements, as mentioned. Therefore, I'm closing this issue. I'm happy to hear about your feedback, or discuss further.

[2017-07-07 09:32] #97 closed

[2017-07-15 05:54] MichaelMure commented on #32
Done here: https://github.com/webpro/release-it/pull/102

[2017-08-02 19:21] MikeSharov opened #103 "Use GitHub SSH key instead of token"
Is there a way to use the SSH key instead of having to create an access token and save it as an environment variable?

[2017-08-02 20:49] webpro commented on #103
Under the hood, release-it uses Git, and should "just work" with your GitHub SSH key.

Can you e.g. `git push` from your repo?

Also see #91.

[2017-08-03 15:53] MikeSharov commented on #103
I can do push and other commands so the SSH is set up properly. Using your awesome tool works when I have a GITHUB_TOKEN environment variable, but as soon as I remove it I get errors complaining that it's not there. Any ideas?

[2017-08-03 15:55] webpro commented on #103
Can you please try and run it with `--debug --verbose` (`-eV`) arguments; does it log anything valuable?

[2017-08-03 20:33] MikeSharov commented on #103
Does this help? This is the only error message:

ERROR About to release to GitHub, but GITHUB_TOKEN environment variable not set
Error: Error: About to release to GitHub, but GITHUB_TOKEN environment variable not set
    at tasks.run.catch.error (C:\DEV\ui-core\node_modules\release-it\lib\release.js:40:15)
    at tryCatchReject (C:\DEV\ui-core\node_modules\when\lib\makePromise.js:845:30)
    at ru

[2017-08-04 01:12] gpean opened #104 "Don't push tags as separate command, push everything together"
Currently `release-it` will `git push` tags **after** it has pushed the new commit:

[code]

This is an issue if you have stuff which is triggered when you push, like a Jenkins job, because it will not know about the tag since it might still be in flight/not yet pushed.

There should be only one git push command done to push both the commit and the new tag: `git push --tags`.

[2017-08-06 19:15] webpro commented on #103
Thanks, now I fully understand. Indeed release-it assumes a `GITHUB_TOKEN`. And uses [node-github](https://github.com/mikedeboer/node-github) to make a GitHub release. However, it looks like it doesn't include a way to provide the SSH key for [authentication](https://github.com/mikedeboer/node-github#authentication). So, I'm going to close this ticket, but I'm happy to discuss further if there are

[2017-08-06 19:15] #103 closed

[2017-08-06 20:17] webpro commented on #104
I agree, just released this in [v2.8.3](https://github.com/webpro/release-it/releases/tag/2.8.3).

[2017-08-06 20:17] #104 closed

[2017-08-06 21:29] webpro commented on #104
It should be `--follow-tags` (`--tags` pushes _only_ tags).

[Bugfix](https://github.com/webpro/release-it/releases/tag/2.8.5).

[2017-08-15 10:06] sakshamsaxena opened #105 "How to use release-it programmatically ?"
Any heads up for the same ? Would be great !

[2017-08-15 10:29] sakshamsaxena commented on #105
Never mind! I just wanted to put in some options dynamically in Grunt. I can do so with it's own API, so all's well ! :smile:

[2017-08-15 10:29] #105 closed

[2017-08-15 11:28] marcuspoehls opened #106 "Deactivate verbose in non-interactive mode"
I run release-it in non-interactive mode and don’t want it to output logs execept errors. Is there a chance to deactive the `verbose` option when running `non-interactive`?

You can see within the [lib/config.js](https://github.com/webpro/release-it/blob/master/lib/config.js) in method `mergeOptions` that `verbose` is set to `true`:

[code]

Any chance to deactive verbose for non-interactive?

[2017-08-15 11:46] sakshamsaxena opened #107 "Even when the dist.repo is false, the git add command fails"
If I have this config in my `grunt-release-it` task :
[code]

then on a dry run I get the following :
[code]

Notice the `git add dist --all` above. On actual execution, it does fail saying no reference to dist.

I did some basic investigation, and I feel that [this line](https://github.com/webpro/release-it/blob/8f5bd6126467cf65677baef457dc4b7dd0bdc895/lib/tasks.js#L183) is a bit out of place.

C

[2017-08-15 11:47] sakshamsaxena commented on #107
Posted this here instead of the grunt task repo as the code essentially lies here :sweat_smile:

[2017-08-16 07:59] webpro commented on #107
Hi, @sakshamsaxena. Here is an explanation:

You can have a `buildCommand` that results in files in the `dist.baseDir` directory. Those files can be included in for staging with the release (`git add dist --all`).

I agree it's a bit misleading to have `dist.baseDir`, I will think about how this might be improved .

So, either on your needs you can update `dist.baseDir` to. e.g. `"lib"` to include

[2017-08-16 08:05] webpro commented on #106
Good point, @marcuspoehls. Initially, I thought it makes sense to have more verbose output in non-interactive mode, especially for people new to this tool. But you can't opt-out now. It should be the other way around and enable to opt-in with `--verbose`.

In the meantime, I'm working on a complete rewrite, and I will take this into account. I hope you can live with this for a little while.

[2017-08-16 08:31] marcuspoehls commented on #106
@webpro Hey Lars, your solution is exactly what I'm thinking of. Opt-in to `verbose` with `--verbose` if wanted.

Yeah, it's fine to have the extra output for a while.

I'm building a command line tool that makes use of release-it to bump the version, tag a release, push changes as part of a deployment process. The process itself contains multiple steps and currently release-it outputs text that s

[2017-08-16 08:34] webpro commented on #106
Thanks! I'll leave this ticket open until it's available.

You could also fork this repo, change that line and use this in the meantime (you can `npm install` from that github repo).

[2017-08-16 09:00] marcuspoehls commented on #106
You're right, a fork would solve this problem. Thanks for the hint, will do it 👍

[2017-08-28 15:33] joerideg opened #108 "Add option to specify --access on npm publish (public vs private packages)"
Hi!

Scoped npm packages default to `--access restricted`, probably to ensure you will not accidentally publish a private package to the public npm.  So when publishing a public scoped package on npm you **need** to specify `--access public`.

This is currently impossible with release-it unfortunately as I have no control over cli commands passed to npm.

I do have a work around and that is to set

[2017-08-28 15:47] joerideg opened #109 "prompt options not respected when using non-interactive"
The fix for #85 provided the solution for my problem there. I did test it and back then I believe it worked. I just came back around to this project and now it doesnt seem to work. The general problem being that any settings in the `prompt` object do not seem to be respected by release-it when using non-interactive mode.

Did a regression happen somehow? I would really like to be able to specify w

[2017-08-29 06:48] webpro commented on #109
Hi @joerideg, the `prompt` config has never been used other than just for the default answers during interactive mode.

I'm currently working on a rewrite (v3) and what you describe will be included by supporting e.g. boolean `src.commit`,`src.tag`, etc. settings. Will leave this ticket open for reference (#72 is also relevant).

[2017-08-29 06:49] webpro commented on #108
Thanks for bringing this up. I will definitely take scoped packages into account in v3, which I'm currently working on. Will leave this ticket open for reference.

[2017-08-29 08:55] joerideg commented on #109
Ah ok, so weird that I [apparently thought it was working](https://github.com/webpro/release-it/issues/85#issuecomment-287721751).

Cool so I'll just wait for v3 then! I really like the tool!

[2017-08-29 09:02] webpro commented on #109
Reading this again, it was also a misunderstanding from my side:

Anyway, it'll be there soon :-)

[2017-08-30 09:18] #107 closed

[2017-08-30 11:34] joerideg commented on #108
Just discovered that the [npm docs](https://docs.npmjs.com/misc/scope#publishing-public-scoped-packages-to-the-primary-npm-registry) state that the --access flag is only necessary on *initial* publication. Just letting you know.

[2017-08-30 13:31] webpro commented on #72
I've just [released](https://github.com/webpro/release-it/releases) the first beta of v3, which includes this feature. Feel free to check it out and I'm happy to hear any feedback.

[2017-08-30 13:31] #72 closed

[2017-08-30 13:32] webpro commented on #106
I've just [released](https://github.com/webpro/release-it/releases) the first beta of v3, which includes this feature. Feel free to check it out and I'm happy to hear any feedback.

[2017-08-30 13:32] #106 closed

[2017-08-30 13:33] webpro commented on #108
I've just [released](https://github.com/webpro/release-it/releases) the first beta of v3, which includes this feature. Feel free to check it out and I'm happy to hear any feedback.

[2017-08-30 13:33] webpro commented on #109
I've just [released](https://github.com/webpro/release-it/releases) the first beta of v3, which includes this feature. Feel free to check it out and I'm happy to hear any feedback.

[2017-09-04 12:57] joerideg commented on #109
Unfortunately installing globally and running release-it@3.0.0-beta.1 gives me the following error:
[code]

[2017-09-04 18:06] webpro commented on #109
I've probably been using it wrong, so I've just [released a new version](https://github.com/webpro/release-it/releases) without @std/esm.

[2017-09-07 11:59] joerideg commented on #109
Getting another error when installing and using release-it@3.0.0-beta.2:
[code]

[2017-09-07 15:00] webpro commented on #109
Thanks for trying again, @joerideg! But ouch, this is getting embarrassing. Not sure what went wrong with `npm link` or something... Just released [3.0.0-beta.3](https://github.com/webpro/release-it/releases/tag/3.0.0-beta.3).

[2017-09-19 17:43] alexkrolick opened #110 "Releasing gitignored dist?"
Is there a way to attach build output to the GH release as a ZIP automatically, like `npm pack`?

[2017-09-19 17:58] webpro commented on #110
Hi @alexkrolick! Yes, I think `src. githubAssets` is what you're after. You can give it a(n array of) glob pattern(s) to upload assets with the GitHub release (also see #32).

[2017-09-19 19:11] alexkrolick commented on #110
Are you supposed to use -f then?

[code]

✨  Done in 1.82s.

[2017-09-19 19:16] webpro commented on #110
Can you please run release-with the `--debug` and `--verbose` options enabled?

[2017-09-19 19:18] alexkrolick commented on #110
.release.json
[code]

[code]

[2017-09-19 19:37] webpro commented on #110
Quick answer: can you add a `dist` section like this to your config:

[code]

Also, it looks like you may be expecting release-it to create a zip for you, but it does not. The `githubAssets` should be glob patterns (e.g. `dist/*`) that point to existing files. You might want to add creating the zip file to the build command.

For an explanation: there is some logic that assumes you want to add `di

[2017-09-19 19:48] alexkrolick commented on #110
[code]

This created a tag but didn't attach the files to the release

[2017-09-19 19:57] webpro commented on #110
I don't know your project setup and what e.g. `yarn build` and `yarn pack` are supposed to do. Do you have a repro repo where I can see it?

[2017-09-19 19:59] alexkrolick commented on #110
Build just puts `bundle.js` in `dist/` with Webpack. `yarn pack` is the built-in command (like `npm pack`) that creates a tarball of the package after excluding whatever is in `.npmignore`.

[2017-09-19 20:10] alexkrolick commented on #110
Can repro here: https://github.com/alexkrolick/release-it-debug/releases

[2017-09-19 20:14] webpro commented on #110
Totally forgot: you also need to add `github.release: true` to your config:

[code]

[2017-09-19 20:33] alexkrolick commented on #110
Ok, now it creates the release but doesn't add the tar file.

[2017-09-19 20:43] webpro commented on #110
Using an array for `githubAssets` seems to behave a bit funky with a single element. It is turned into a braced section (`{*.tgz}` in this case) before passed to `node-glob` (as this doesn't support an array of glob patterns).

For a single item it's best to use a string for now: `"githubAssets": "*.tgz"`.

[2017-09-19 20:57] alexkrolick commented on #110
Alrighty, works now!

[2017-09-19 20:57] #110 closed

[2017-09-19 21:04] webpro commented on #110
Great! Thanks for being patient. Better documentation is on the todo list.

On Tue, 19 Sep 2017 at 22:57, Alex <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-09-20 17:25] ksatirli opened #111 "support for releases without package.json"
Hey @webpro!

Huge fan of _Release It!_ and been happily using it for a few years, though always with projects that had a `package.json` file.

I notice that you started working on supporting projects that do not have a `package.json` file in https://github.com/webpro/release-it/commit/766e5eb4cd601050a0064164fed66b34a4d07b44.

Is this something that will be available in `3.0.0`?

[2017-09-20 19:47] webpro commented on #111
Hi, @ksatirli! Thanks you so much for the shout out, it's truly appreciated!

This tool has supported projects without a `package.json` since that very commit (ending up in v2), and will continu to do so in v3. You can also explicitly set this to an empty array: `pkgFiles: []`. Does this answer your quesion?

[2017-09-20 20:09] ksatirli commented on #111
@webpro totally my pleasure! Thank _you_ for sharing.

No dependency on `package.json` is great news! So I guess I'm doing something wrong on my side. I'd love some feedback on this to hopefully figure out how to use `Release It!` for _all_ my projects 😃.

Here's my `.release.json`:

[code]

I've added an empty `pkgFiles` entry like you did in [.release.json](https://github.com/webpro/release-it/b

[2017-09-20 20:39] webpro commented on #111
I can't reproduce your issue. Can you describe the steps to reproduce it?

However, I did spot a bug in release-it v3 re. `requireCleanWorkingDir`. I've just fixed this in a [new beta](https://github.com/webpro/release-it/releases/tag/3.0.0-beta.5). Thanks! Also:

* The `--major` is not supposed to be used like that; it should be `release-it major` (no dashes).
* There is no `--always` option.

[2017-09-20 20:51] ksatirli commented on #111
I'll try!

I have a code base without a `package.json` and Beta 5 of _Release It!_. The `.release.json` is the one I have posted above.

When I am in the directory of the repository I want to release, I run the following: `release-it --dry-run minor` at which point I get the following lines as an error message:

[code]

Note the `--always` reference in there; it threw me off; I thought that was an

[2017-09-20 20:57] webpro commented on #111
Ah, it's indeed not clear where the error is coming from, apologies for that.

Maybe you ran into this issue: https://stackoverflow.com/a/41605474?

[2017-09-20 21:11] ksatirli commented on #111
Ah that's indeed it. Great catch Lars!

Thank you :)

[2017-09-20 21:16] #111 closed

[2017-09-27 02:08] greenkeeper[bot] opened #113 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-09-28 09:55] joerideg commented on #109
It works it works! :) awesome thanks!

[2017-09-28 09:55] #109 closed

[2017-09-28 10:05] joerideg commented on #108
Using the new v3 the access option allows me to publish scoped packages!

[2017-09-28 10:05] #108 closed

[2017-09-28 10:54] webpro commented on #109
You're welcome, thanks for the feedback!

[2017-09-28 10:54] webpro commented on #108
Great!

[2017-09-28 10:58] webpro commented on #99
There are (still) some issues around npm's `package-lock` file. I'm closing this issue for now, as you can include it with a release if you want with e.g. `pkgFiles: ["package.json", "package-lock.json"]`.

[2017-09-28 10:58] #99 closed

[2017-09-28 16:55] MichaelMure opened #114 "Ask for confirmation for the new release name"
Hello,

The `buildCommand` I have for my project take a lot of time (building and packaging for multiple platform). Half the time I mix up between `minor` and `patch` and end up with the wrong version number and I have to clean things and start over.

It would be nice imho to get asked to validate the new version name in the beginning of the process, before any files are touched. It would also hel

[2017-09-28 21:17] webpro commented on #114
Yeah, I agree it may be a good idea to add a confirmation step for the bumped version. Also for people new to this tool.

Another feature that might be useful: a `cleanupCommand` to automate the clean up in case anything went wrong. What do you think?

Do you mean it disappears, because the output is mangled by release-it, or does your `buildCommand` have a lot of output?

While looking into this,

[2017-09-29 04:52] mark-buer opened #116 "version from git tag is now preferred over package.json ? breaks custom git tag formats"
`release-it` now does not run unless the git tag is "well formed" (as-in, can be parsed as a semver).

It seems that the logic surrounding the version determination has altered in a recent refactoring.

In changeset https://github.com/webpro/release-it/commit/6d46d9046cf6fd0944140066fc1c64584674de1a

the logic changed for determining the version from something a little like:
[code]

to something a

[2017-09-29 06:12] MichaelMure commented on #114
Lot of output.

There is probably a hacky way to do that with the buildCommand, but an integrated and portable solution would be nice ...

[2017-09-29 07:11] webpro commented on #116
Hi @mark-buer, thanks for bringing this up.

This project follows semver, so the bump to 3.0.0 was indeed be a breaking change in some cases. Unfortunately this was also true for your project(s).

Apart from whether the latest version should be derived from the Git tag or npm package version, I didn't take custom tagging schemes into account during the rewrite, as I didn't realize this is a thing

[2017-09-29 08:35] #113 closed

[2017-09-30 08:22] sw-yx opened #118 "How do I actually use the access token?"
So I have a github access token.. and I have no idea what to do with it! the docs say:

[code]

but what does this actually mean? where do I put it? obviously not in package.json because that would get uploaded?

[2017-09-30 09:33] webpro commented on #118
Hi @sw-yx! Are you on *nix/macOS? Then you can execute that on the command line in your terminal. The quotes are not required in this case. For instance:

[code]

Alternatively, you can put it on one line to make the environment variable only available to the release-it process:

[code]

On Windows I believe it's something like this:

[code]

Does this help?

[2017-10-01 22:27] sw-yx commented on #118
yes! it helped! (i am on macOS). i guess i have never seen the `export` command before so that really threw me off, i was thinking i had to add it to some secret `release-it` config somewhere.

thank you SO. MUCH. for this thing. it is absolutely amazing and you are a rockstar.

[2017-10-01 22:27] #118 closed

[2017-10-02 08:50] webpro commented on #118
Glad you figured it out. Thanks so much for the super kind words! 😊

[2017-10-03 19:35] webpro commented on #114
I've just released a new release ([3.1.0-beta.0](https://github.com/webpro/release-it/releases/tag/3.1.0-beta.0)) that, in interactive mode, first prints the changelog, and a confirmation question with the bumped version. You can install with:

[code]

It was helpful for myself already. Any chance you could give it a shot? Would be great to get some feedback here.

[2017-10-04 16:34] simonwjackson opened #120 "404 error on release"
[code]

[2017-10-04 17:48] webpro commented on #120
Hi @simonwjackson!

First of all, the error isn't very descriptive, so that should be improved.

Looks like the tag in your repo can't be found on GitHub origin. The tag must be present before a GitHub release can be attached to it. Did you push the commit + tag before this question?

[2017-10-04 20:34] simonwjackson commented on #120
It turns out that my GitHub token didn't have the correct permissions to preform the tag operation. Seems to be working now

[2017-10-04 22:35] webpro commented on #120
Good to hear it's working for you.

I guess the pushing operation (which includes the tag) should have failed in the first place, right? If you think there's anything that could be improved on release-it side, let me know.

[2017-10-04 22:35] #120 closed

[2017-10-09 22:15] LorneCurrie opened #122 "Attempts to publish to NPM when npm.publish=false in config."
Just looking into this tool and I have one question.  When I run the tool interactively, `Publish to NPM` default is set to "N".  When I attempt to run the tool with '-n' and with the setting `npm.publish=false` the tool attempts to publish to npm.  Am I missing a config?

[code]

[2017-10-09 22:19] LorneCurrie commented on #122
Sorry, found my issue.

[2017-10-09 22:19] #122 closed

[2017-10-10 08:14] webpro commented on #122
Hi, @LorneCurrie. Sorry to to hear you might have had an unwanted npm publish. But glad you've fixed it, and that you're giving release-it a shot!

[2017-10-13 07:42] webpro commented on #114
This is now in the [latest release](https://github.com/webpro/release-it/releases/tag/3.1.0).

[2017-10-13 07:42] #114 closed

[2017-10-13 09:06] sgal opened #123 "[Bug] Confirm prompt is blocking execution in non-interactive mode"
Since version `3.1.0` the non-interactive mode is blocked by `confirm` prompt.
I mean this https://github.com/webpro/release-it/blob/master/lib/tasks.js#L60.
As far as I see it was introduced with this commit https://github.com/webpro/release-it/commit/3618e5ab2d23151cb6a74777be5d52900511ffdd.

Documentation does not state any way around it.

**Expected behaviour**
Prompt is triggered only in inte

[2017-10-13 09:11] #123 closed

[2017-10-13 09:12] webpro commented on #123
Thanks for the report, @sgal!

Just made a fix, and confirmed it works by releasing release-it itself with `release-it -n` in [v3.1.1](https://github.com/webpro/release-it/releases/tag/3.1.1).

[2017-10-17 03:18] simshanith opened #125 "Support for repos with periods in name | parse-repo issue"
See dgoguerra/parse-repo#1 for an explanation and dgoguerra/parse-repo#2 for a PR.

See my fork [simshanith/release-it](/simshanith/release-it) for a temporary workaround - example working usage at [simshanith/pi.simloovoo.com](/simshanith/pi.simloovoo.com)

[2017-10-17 07:01] simshanith commented on #125
Apologies for my generally vague starting issue.

The underlying `parse-repo` module does not currently support my [Github repository](/simshanith/pi.simloovoo.com), `git@github.com:simshanith/pi.simloovoo.com.git`, failing to parse it correctly due to the `.` (periods) in the repository name.

The result is the `release-it` command aborting during the `github.release` step, failing to identify th

[2017-10-17 08:40] webpro commented on #125
Thanks, @simshanith! Totally agree that periods in the repo name should be supported.

I see that [dgoguerra/parse-repo](https://github.com/dgoguerra/parse-repo) seems kind of abandoned/unmaintained. I think I was OK with it before, since there were no alternatives, and it has tests.

So let's see if your PS gets merged and released. Otherwise, we can either look for similar packages, or maybe you

[2017-10-17 18:24] webpro commented on #116
Closing due to inactivity. I think the fix was adequate.

[2017-10-17 18:24] #116 closed

[2017-10-17 18:30] webpro commented on #125
I just got a PR from Greenkeeper updating parse-repo. So that's merged and release-it was [updated](https://github.com/webpro/release-it/releases/tag/3.1.2) as well. Thanks again.

[2017-10-17 18:30] #125 closed

[2017-10-17 21:58] simshanith commented on #125
@webpro please see my note on commit 826a033 - the issue may persist

[2017-10-17 22:06] simshanith commented on #125
As a follow-up, upon further review `1.0.2` _should_ include the necessary fix. However, something like [repo-utils/parse-github-repo-url](/repo-utils/parse-github-repo-url) may be more stable with more eyes on it. Glad I got the current dependency to work at least!

[2017-10-18 07:18] webpro commented on #125
Thanks for the heads up, @simshanith. I think parse-repo v1.0.2 includes the fix indeed.

[2017-10-24 11:35] MichaelMure commented on #114
Hey,

I didn't use it yet, but thank you for your work :-)

[2017-10-30 18:10] amazingSurge opened #134 "SyntaxError: Unexpected token import when import maually"
When i import the release-it via code below
[code]

I got a error.

[code]

Any help?

[2017-10-30 19:45] webpro commented on #134
Hi, @amazingSurge!

First of all, release-it is a CLI tool. You can install and run it from a terminal:

[code]

You could import it in your own Node script, but the code would need to be transpiled to syntax that the version of Node.js it runs in is supported. When running from the command line, this happens in [bin/release-it.js](https://github.com/webpro/release-it/blob/master/bin/release-it.js

[2017-10-31 08:56] amazingSurge commented on #134
HI @webpro
Thanks for the quick reply.
I am using with gulp.

SEE https://github.com/amazingSurge/web-starter-kit/blob/master/tasks/release.js

It's uncomment currently.

We had https://github.com/amazingSurge/web-starter-kit/blob/master/.babelrc

It seems release-it don't working well with env preset.

In https://github.com/amazingSurge/web-starter-kit/blob/9bab35b0f8ec7afea9d986845e9a4e06db05594

[2017-10-31 19:20] webpro commented on #134
Why don't you use an npm script, like so:

[code]

* You'll need to rename `.release.json` to `.release-it.json`. Please see the [release notes for v3](https://github.com/webpro/release-it/releases/tag/3.0.0).
* Some more ideas, looking at the `package.json`:
  * In the release-it config you could use `"buildCommand": "gulp build"`
  * Maybe also `"src.afterReleaseCommand": "gulp deploy --producti

[2017-11-02 00:12] jfairley opened #137 "Metrics error on headless machine"
I run builds an Jenkins. Things like window size aren't available in this environment. This error message aborts my release.

[code]

[2017-11-02 07:32] #137 closed

[2017-11-02 07:36] webpro commented on #137
Hi @jfairley! Apologies for this, that was pretty bad. I've fixed it in [v4.1.1](https://github.com/webpro/release-it/releases/tag/4.1.1) while also adding some test coverage (runs in travis-ci).

[2017-11-02 07:59] jfairley commented on #137
Thanks! I'll give it a try.

[2017-11-02 08:20] jfairley opened #139 "ssh:// url pattern"
I tried to create a github release with a Jenkins machine. My build failed on the step to use `node-github` to create the release.

Long story short, my configured URL format (`ssh://git@github.com/org/repo.git`) wasn't supported, so the "owner" wasn't properly parsed out. I had to step through the `release-it` source code to figure out what went wrong...

Anyway, I updated my Jenkins config to us

[2017-11-02 08:42] webpro commented on #139
Thanks! I'm also open to switch to another git url parser (had an issue before in #125). Let's see if/how this gets resolved first.

[2017-11-03 18:12] jfairley commented on #139
@webpro FYI, the fix has gone into `parse-repo@1.0.4`.

[2017-11-05 20:59] webpro commented on #139
Thanks, @jfairley! Greenkeeper notified me already, and it's in the latest release here.

[2017-11-05 20:59] #139 closed

[2017-11-08 16:58] Avcajaraville opened #145 "Support for bump version before changelog is generated"
Im having hard times trying to use this tool in our projects.

Im aware of an already existing issue here: https://github.com/webpro/release-it/issues/45

But the response there didn't helped me at all.

So, this is my node/npm configuration:
[code]

My setup for my projects is (only relevant chunks of code):
package.json
[code]
And in my release.json (full file):
[code]

So, as stated on the prev

[2017-11-08 17:12] webpro commented on #145
Hi @Avcajaraville.

Sorry to hear you've wasted time. Looks like the solution is to use the `buildCommand`, which is executed right after the version is bumped. E.g.:

[code]

The `src. beforeStageCommand ` was removed as it was basically a duplicate of `buildCommand`. This was mentioned in the [release notes for v3](https://github.com/webpro/release-it/releases/tag/3.0.0). The ticket you mentione

[2017-11-11 23:59] ShMcK opened #147 "Does not update package-lock.json"
Might consider updating the versions for package-lock.json or yarn.lock if they exist.

This could be accomplished with a quick check:
- if "package-lock.json" exists, run `npm i`
- if "yarn.lock" exists, run `yarn`

This way versions of locked dependencies won't be out of sync with published versions.

[2017-11-12 12:39] webpro commented on #147
This isn't automated indeed. For now you can also add the file to the `pkgFiles` config array (the default is `["package.json"]`). Does that work for you?

[2017-11-12 17:19] ShMcK commented on #147
That works. I hadn't realized there was a configuration option.

[2017-11-13 09:14] Avcajaraville commented on #145
@webpro

Alright, I also figured out your suggestion, but though it might be a little hackish.

Now my other issue is how can I write the release body on github using conventional-changelog.

Because till now, I have to stay with the git log and I want to have changelog and releases unified.

Is this possible ? Remember, changelog should execute AFTER the version is bumped, otherwise, it wont work

[2017-11-13 12:24] marcbc opened #149 "Are projects with submodules contemplated?"
I'm currently working in a multi-repository setup, were I have a parent project which points to several git submodules. Something like:

[code]

I'd like to use **release-it** to manage the parent project globally as well as the submodules individually.

Currently, I'm having an issue when dealing with the submodules, because one of the initial checks the tool does in **tasks.js** is:
[code]
which

[2017-11-13 15:09] webpro commented on #149
For starters, in "regular" repos (say, without submodules), release-it should be run from the root dir, as all sorts of things could fail (such as build commands, finding the dist dir, etc).

On to your specific issue. You are running `release-it` from inside the `BACKOFFICE_API_REPO` directory? And that submodule does have a `.git` directory, or not?

Btw, I like personalized error messages, too

[2017-11-13 15:17] carlosl opened #150 "Changelog command not replacing %s"
I currently maintain a project that has a manually updated changelog. Contributors manually add content under the '[Unreleased]' section at the top of the Changelog.log file. We follow this -
 http://keepachangelog.com/en/1.0.0/ - pattern. According to the release-it docs, any %s would be replaced by the version number.

So I have a sed command that updates this header with the release number and

[2017-11-13 15:27] marcbc commented on #149
haha, I forgot I updated that message... :)

I'm running release-it form the submodule directories yes, since I want to be able to release versions of the submodules, independently (e.g. backoffice can be in 1.0.10 and client in 1.0.19) and from time to time, I'm releasing the whole project from the root.

It seems that by design, submodules keep their .git data in the "parent project", so there i

[2017-11-13 15:32] webpro commented on #149
I will give it another thought later on. If it wouldn't be too dirty, we might add an option or something to disable or alter that `isGitRepo` check.

[2017-11-13 15:37] webpro commented on #150
First of all, I agree the docs aren't very clear in this regard. A few notes:

* The `%s` is replaced with the version number in `src.commitMessage`, `src.tagName`, `src.tagAnnotation`, `github.releaseName`.
* The `%s` in the `changelogCommand` is part of the git log printf-like formatting, where `%s` is replaced with the commit "subject" (see [Git - pretty-formats Documentation](https://git-scm.c

[2017-11-13 15:54] webpro commented on #145
There is no built-in support for this. The changelog command runs before the version bump. This is because release-it, in interactive mode, asks for confirmation (while showing the changelog) before making any changes.

Is there a way to feed/override the bumped version to `conventional-changelog`? E.g. a command such as `conventional-changelog --previousTag={latestVersion} --currentTag={version}`

[2017-11-13 15:56] webpro commented on #147
Good to hear, @ShMcK.

[2017-11-13 15:56] #147 closed

[2017-11-14 00:07] Westbrook commented on #95
@webpro I think this might have something to do with a collision between `npm` and `yarn`. Checkout my verbose error logging here:

[code]

I'm about to see my `npm whoami` and able to `npm publish` on it's own, but when running `release-it` I'm thrown the above error regardless. I'm really loving everything else about this software, so I hope the above log can help clarify what's going on.

[2017-11-14 08:07] webpro commented on #95
Thanks, @Westbrook. Still hard to reproduce (even though I have yarn installed for a while). Looks like npm is somehow using `https://registry.yarnpkg.com/` as target registry, causing the `ENEEDAUTH`. Some seemingly related references:

* https://github.com/lerna/lerna/issues/896#issuecomment-311894609
* https://docs.npmjs.com/files/package.json#publishconfig

Could you please try and add this to

[2017-11-14 09:24] Avcajaraville commented on #145
@webpro

Yes, I meant that the buildCommand option wasn't clear for me on the documentation.

But now, looking at it twice, seems that I just missed it. Maybe we can add when the version have changed; for instance:

The command hooks are executed from the root directory of the src or dist repository, respectively:
- src.beforeStartCommand (version not bumped)
- buildCommand - before files are stag

[2017-11-14 14:39] vchagaev commented on #149
I have the same issue.

[2017-11-14 21:42] #150 closed

[2017-11-14 21:44] webpro commented on #150
I've just released [v4.4.0](https://github.com/webpro/release-it/releases/tag/4.4.0) which supports replacements in the `changelogCommand`. Note that `%s` should be `${version}` in your example.

[2017-11-14 21:51] webpro commented on #145
Thanks for clearing that up. I agree the docs could be improved on.

The "bump before changelog" would not align well with the current flow. Here is a different approach that might work, although it might feel a bit hack-ish:

[code]

The `src.beforeStartCommand` is executed first, and the output of `changelogCommand` will be used for the changelog. Note that `${version}` (and `${latestVersion}`)

[2017-11-14 22:27] webpro commented on #149
Sounds like a legit use case. Not sure how this works out, but I've released [4.5.0-alpha.0](https://github.com/webpro/release-it/releases/tag/4.5.0-alpha.0) which should allow you to run release-it from inside a Git submodule. You can install with `npm install release-it@alpha (--global)`.

Not sure how things will hold in various circumstances (e.g. to which origin it will push). Please let me k

[2017-11-15 14:29] Avcajaraville commented on #145
@webpro

The solution you suggested on your previous comment didn't worked out for me, reasons being, as you pointed out, `changelogCommand` being executed before version is bumped.

I honestly believe the `options.bumpBeforeChangelog` is a very nice solution, and being this properly documented and as default value to false, I don't see why it won't fit the current workflow.

At the is just an opt

[2017-11-15 18:25] webpro commented on #145
Ah yes, sorry, that should be `buildCommand` instead of `src.beforeStartCommand`. But that would not work because `changelogCommand` runs before `buildCommand`.

What I meant was the flow in the code.

However, feel free to start a PR, I'm happy to support a workflow using conventional-changelog.

[2017-11-15 19:04] vchagaev commented on #149
Oh, I'm sorry but my project does not have submodules. I just have several package.json files.
For example release-it from SUB_FOLDER does not work (ERROR Not a git repository.)
I will try to fix it.

ROOT_FOLDER
 └──  SUB_FOLDER
               └── package.json
 └──  package.json

[2017-11-15 20:23] vchagaev commented on #149
I mean that checking `stdout === '.git'` is overkill. If command `git rev-parse --git-dir` has no error then it is a git repo.
It would be cool if you fix that. Everything else works fine.  Thanks!

[2017-11-15 20:55] vchagaev commented on #149
https://github.com/webpro/release-it/pull/154

[2017-11-15 21:39] webpro commented on #149
The version I've released is a more defensive approach for @marcbc's use case this ticket was opened for. I think it's still valid.

See @vchagaev's PR for a different approach + discussion.

[2017-11-16 09:05] Avcajaraville commented on #145
@webpro Alright then, without promising, as Im loaded with work now at days, I will try to eventually create a PR for this request.

Feel free to close this ticket or I will once I got a PR :)

I do believe we can do this feature, and even more that this module is being added as dependency to our projects (we wont forget this way).

Thanks for your helpful and quick responses. You are doing a grea

[2017-11-16 12:54] Westbrook commented on #95
Just noticed that the response I wrote the other day has just been sitting here unsent.

@webpro Thanks. This seems to have been the issue. I'm now able to publish directly with release-it and am much happier for it.

[2017-11-16 13:16] webpro commented on #95
Thanks for getting back to me with this. Guess I should just add some "common issues" section to the docs.

To summarize: an `ENEEDAUTH` error and a stack trace like above (including `registry https://registry.yarnpkg.com/`) while `npm publish`-ing may be resolved by adding this to `package.json`:

[code]

[2017-11-16 13:16] #95 closed

[2017-11-17 05:11] marcuspoehls opened #157 "Unexpected token "import" when using release-it not from CLI"
Hey Lars,

I’m using release-it as part of a personal CLI to deploy a project. The deploy steps include test runs and actual remote command exeution. I use release-it in non-interactive mode to bump the version, commit git changes, tag git release and push the changes.

In my code, I use `release-it` like this:

[code]

The following error stack appears when running the code:

[code]

I’m using
-

[2017-11-17 07:15] webpro commented on #157
Yes, I see the issue here. release-it uses Babel to transpile the code into valid JS for the version of Node that you're currently running. You're seeing an error for the first piece of code that Node v8 does not support (yet).

Although I think the _only_ feature that is missing in Node v8 is the `import/export` syntax (ESM), release-it still needs a transpilation step for `async/await` to suppor

[2017-11-17 07:23] marcuspoehls commented on #157
Yeah, I guessed it’s an issue with the transpile process that I don’t do in my project. And you’re right, at this point Node.js v8 doesn’t support hte `import/export` syntax.

I want to avoid babel and will go with your suggested second option 😃This doesn’t mean you should work on it now, take your time. I went back to use `release-it` v2 which does the job.

Thank you for your support! Really app

[2017-11-17 07:24] #157 closed

[2017-11-17 07:32] webpro commented on #157
Thanks! And yeah, Node v8 supports so much syntax already.

Planned some work on release-it over the weekend, so this might be in real soon.

[2017-11-17 08:41] marcuspoehls commented on #157
😄  cool

[2017-11-18 18:51] marcbc commented on #149
4.5.0-alpha.0 worked for my use case @webpro , thanks for the quick implementation!

[2017-11-19 23:20] webpro commented on #149
@marcbc I've used a different approach that should still work in [5.0.0-beta.0](https://github.com/webpro/release-it/releases/tag/5.0.0-beta.0). Hope we can move forward with this v5.

[2017-11-19 23:20] #149 closed

[2017-11-19 23:25] webpro commented on #157
The latest beta ([5.0.0-beta.0](https://github.com/webpro/release-it/releases/tag/5.0.0-beta.0)) now only uses syntax that's natively available in Node v8.

Btw, it does require e.g. Babel to transpile async/await (and maybe more) for Node v6. Support for Node v4 has been dropped.

[2017-11-19 23:41] webpro commented on #134
I've released [5.0.0-beta.0](https://github.com/webpro/release-it/releases/tag/5.0.0-beta.0):

* Can be imported in Node v8 without transpilation (#157)
* Allows to pass options to main function (#151)

This may help in your use case. Feel free to discuss further.

[2017-11-19 23:41] #134 closed

[2017-11-20 03:38] vchagaev opened #161 "Parameter about github API endpoint"
Please add a parameter about github API to config file. We use github enterprise and release-it does not work because it uses api endpoint from repo-params but it is incorrect.

[2017-11-20 07:45] webpro commented on #161
Hi @vchagaev. I'm not sure what you mean. What exactly is incorrect?

Are you referring to the `host` for the GitHub API client? It is set to an empty string for repos in the `github.com` domain (non-enterprise), and `pathPrefix` is set to `""`.

For GH enterprise, this is the `host` of the repo, and `'/api/v3'`, respectively.

Source: https://github.com/webpro/release-it/blob/master/lib/github-cl

[2017-11-20 07:56] vchagaev commented on #161
Hi @webpro, yes I'm referring to the `host`. In my case API endpoint for github (`host`) is not the same as repo.
Also I think it is reasonable to add `pathPrefix` to config.

[2017-11-20 08:33] webpro commented on #161
OK, no problem. Hadn't heard of this use case yet.

Why would you need to change the `pathPrefix`? This should be handled by `node-github` I think, right?

[2017-11-20 10:56] webpro commented on #161
This feature is sitting in a [branch](https://github.com/webpro/release-it/tree/github-host), waiting for v5 to be released. As this is a new feature, it will be in v5.1. Also see 746481a79e478fc80bbaff7ac98c9b9548fee6e4.

[2017-11-20 11:09] marcuspoehls commented on #157
Works like a charm 😗  Thank you!

[2017-11-20 13:20] marcbc commented on #149
@webpro, I was about to try this 5.0.0-beta.0, but I ran into an issue.

It seems you are dropping support for NodeJS 4 in this one, but should NodeJS 6 still be supported? I see you're using async which is not available in NodeJS 6.and it's not running in my environment. Should there be some polyfill in place?

[2017-11-20 13:25] webpro commented on #149
It should still run in Node v6. Did you see errors during installation/running it, or by reading the notes?

The CLI is using a Babel transpilation step to support e.g. `async/await` syntax.

[2017-11-20 13:27] marcbc commented on #149
thanks for the quick answer. I was trying to run it:

[code]

[2017-11-20 14:43] webpro commented on #149
Thanks for the catch! Some magic was removed during the rewrite. Should be fixed in [5.0.0-beta.1](https://github.com/webpro/release-it/releases/tag/5.0.0-beta.1).

Just not sure why the tests succeed in Node v6, though.

[2017-11-21 15:31] amazingSurge commented on #134
Thank you!

[2017-12-06 15:08] antony opened #172 "Mysterious 404 when trying to release"
I appear to be getting some sort of 404 when I try to release.

[code]
My configuration is very simple:
[code]

and I'm running the following command to release (from CI, but this error is encountered running locally:

[code]

[2017-12-06 17:35] owcd opened #173 "Consider changing default value of requireCleanWorkingDir"
I was surprised to see temporary, not excluded, files in the repository after releasing. I do understand that clean working directory is desirable, but may not be the case always. Instead of automatically adding these files and directories to the repository I would rather expect to see an error.

My proposal is to change the default value of requireCleanWorkingDir from false to true.

[2017-12-08 11:21] webpro commented on #172
Hi, @antony! Can you please update release-it to (at least) v5.0.1, and see if there's any useful output regarding the error you see. This can be done by adding `--verbose` to see what commands are being executed, and `--debug` to get extra debug output:

[code]

[2017-12-08 11:26] webpro commented on #161
This has just been release in [v5.1.0](https://github.com/webpro/release-it/releases/tag/5.1.0)

[2017-12-08 11:26] #161 closed

[2017-12-08 11:41] webpro commented on #173
This has been the default since the beginnings. I simply found it useful at the time (as I tend to have a clean state and all excludes in `.gitignore`), but also agree it's probably the wrong default for newcomers. Once one wants to have additional changes to a release commit, this default setting can be overridden.

Having that said, the only thing before checking the clean working dir, is execut

[2017-12-09 15:20] webpro commented on #145
I have just released something that might work with this scenario ([v5.2.0-alpha.0](https://github.com/webpro/release-it/releases/tag/5.2.0-alpha.0)). It's a bit generic (not specific to conventional-changelog), but was obviously inspired a lot by this use case.

Install this with `npm install release-it@alpha`

The related config to override:

[code]

Not sure what `changelogCommand` should conta

[2017-12-10 08:00] owcd commented on #173
In version 2 of this tool I didn't notice this behavior. I have changed the configuration of my repos, but think a change of the default in next major release makes sense.

[2017-12-10 11:37] webpro commented on #173
Nice to meet long-time users here :-)

Seems the option was introduced in [v2.1.0](https://github.com/webpro/release-it/releases/tag/2.1.0), with `false` being the default (for backwards compatibility).

[2017-12-10 21:52] webpro commented on #173
I've just released this feature in [6.0.0-alpha.0](https://github.com/webpro/release-it/releases/tag/6.0.0-alpha.0). Would be great if you could try this on your workload.

(It also features a new `requireUpstream` to allow releasing from a new local branch.)

[2017-12-13 10:39] Avcajaraville commented on #145
@webpro thanks for this :)

Unfortunately, this doesn't fit in my current setup neither, mostly due to wrong tag version, as now my settings for vX.X.X are ignore and just generate a tag like X.X.X

Also, not quite sure why do we need recommended bump, as far as I see that, that should be left to the developer (to decide which type of bump apply).

Just to recap, with your latests answer I change

[2017-12-14 20:54] webpro commented on #145
Thanks for your elaborate reply.

* If the tag does not include the `v` (while you specified `tagName: "v%s"`), that's a bug. I'll look into that.
* Based on the [Angular conventional changelog](https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#commits) commit rules, release-it can now automatically guess the appropriate bump. E.g. if there are `"feat(..): .."` commits, then it will

[2017-12-15 16:52] cschweda commented on #172
I get the same 404 error. I added the token, too.

Version:
[code]
Error:

[code]

[2017-12-16 10:39] webpro commented on #172
* Maybe the tag (`tag_name`) can't be found when doing the release. Does it include the `v` in the Git repo (and on gitHub)?
* Is this a GitHub private or a enterprise repo?

[2017-12-18 20:49] webpro commented on #145
@Avcajaraville I've looked into the tag name, and things are looking good to me. The tag is set properly and that also results in a GitHub release including the `v` in e.g. `v2.0.0`.

[2017-12-20 14:40] Avcajaraville commented on #145
@webpro This still doesnt work for my current setup, and at this point, Im not sure what Im doing wrong.

This is my whole current setup:
- release-it version: 5.2.0-alpha.0

Scripts on package.json:
- "release:patch": "npx release-it patch"
- "release:minor": "npx release-it minor"
- "release:major": "npx release-it major"

.release-it.json:
[code]

What happen now when I run `npm run release:pat

[2017-12-20 19:00] webpro commented on #145
* It also took me a while, as I was surprised to get an empty changelog from conventional-changelog. But looking at `conventional-changelog --help`, it seems that the `-u` option provides the changelog for unreleased (untagged?) git history. This did the trick for me. Also remember to remove the first lines from the output for a GitHub release (see example below).
* I've released 5.2.0-rc.0 before

[2017-12-29 00:08] darekf77 opened #186 "How to publish only files from /dist catalog in my repository via .release-it.json ?"
For now.. I need to `cd dist && release-it`. I just wanna publish generated
`dist/` folder instead of whole repository. How can I do it ?

Thanks for any help.

[2018-01-02 22:49] webpro commented on #186
It depends... But the simplest answer to your question would be:

[code]

[2018-01-04 00:01] darekf77 commented on #186
OK perfect. Thanks.

[2018-01-04 00:01] #186 closed

[2018-01-04 10:10] AdrianSkierniewski opened #189 "Can't use it without package.json"
Hi,

I've recently updated my version of release-it and I started getting an error related to missing package.json file.
Here is exact line that causes this behavior: https://github.com/webpro/release-it/blob/master/lib/config.js#L64
Should new version of release-it work for non-npm projects too?

[2018-01-04 15:26] limenet opened #190 "non-interactive:true in .release-it.json overridden by is-ci"
Hi there,

First of all, thank you for providing this great package, it has simplified releasing new versions a lot for me and I really like the JSON config file to automate releasing a new version even more.

My config is fairly basic, but a crucial feature for me is `"non-interactive": true` as it allows me to simply type `release-it` and hit Enter. Some time ago, I noticed this setting was igno

[2018-01-04 20:47] webpro commented on #190
Thanks for the catch & bug report! I think I've got an easy fix in [v5.1.3](https://github.com/webpro/release-it/releases/tag/5.1.3). Please let me know whether it works for you :-)

[2018-01-04 20:47] #190 closed

[2018-01-04 21:01] limenet commented on #190
Thank you very much @webpro , I really appreciate you fixing this so quickly and releasing it! Your fix (I love its simplicity, especially compared to my poor approach) works perfectly!

[2018-01-04 21:03] webpro commented on #190
You're welcome. Thanks again & happy releasing!

[2018-01-05 14:31] webpro commented on #189
The error thrown for a missing `package.json` has two reasons:

* The `version` found in there is used as a fallback or initial version in case the git tag can't be found.
* It serves as an extra check to increase chances that the user is in the root directory of the project (which is relevant to executing build commands etc).

However, I agree that it should be possible to use this tool without t

[2018-01-08 21:29] mcdermed opened #195 "Ability to use current package.json version or tag?"
It appears there's no way to use the tool without bumping the current version or tag. Say for instance I've already run `npm version minor` and pushed the tag into my CI environment. When it attempts to upload the release, I get the error message described in https://github.com/webpro/release-it/issues/172.

[code]

[code]
- Ideally we could tell the tool to skip increment and just validate the cu

[2018-01-08 22:16] webpro commented on #195
Thanks, @mcdermed! Yes, I think `--no-increment` is indeed a valid use case.

[2018-01-11 11:52] Avcajaraville commented on #145
@webpro Sorry for my late answer, holidays happened and I gotta to disconnect.

After coming back, I did restart the set up in my project and did the following:
- update dependencies, now using ^5.2.0
- change the options to:
[code]

And voila ! Works as a charm !

Thanks a lot for your time and dedication, we really appreciate your work in my team :)

[2018-01-12 11:20] webpro commented on #145
Cool! Thanks for your feedback.

[2018-01-12 11:20] #145 closed

[2018-01-12 14:53] #189 closed

[2018-01-12 14:53] #195 closed

[2018-01-12 14:55] webpro commented on #173
Released in [6.0.0-rc.0](https://github.com/webpro/release-it/releases/tag/6.0.0-rc.0).

[2018-01-12 14:55] #173 closed

[2018-01-12 14:56] webpro commented on #189
Released in [6.0.0-rc.0](https://github.com/webpro/release-it/releases/tag/6.0.0-rc.0). You can install with `npm install release-it@rc`.

[2018-01-12 14:57] webpro commented on #195
Released in [6.0.0-rc.0](https://github.com/webpro/release-it/releases/tag/6.0.0-rc.0). You can install with `npm install release-it@rc`.

[2018-01-12 15:10] AdrianSkierniewski commented on #189
@webpro Thank you! :)

[2018-01-14 10:43] Kristinita opened #200 "[Feature request] Export commit messages to text file"
### 1. Request

It would be nice, if would be possible export commit messages for release to text file.

### 2. Justification

Developers of [**Sublime Text 3**](https://www.sublimetext.com/3) packages needs to add [**release messages**](https://packagecontrol.io/docs/messaging), that can be seen by users.

I create text files from commit messages, but now I do it manually. It may take a lot of ti

[2018-01-14 11:11] webpro commented on #200
Thanks, @Kristinita. For that, I have a different solution in mind, which is hopefully even more flexible. It would look something like this:

[code]

Alternatively, you could use the `buildCommand`. What do you think?

You can already use options like `src.tagName` and `version` in commands, but `changelog` isn't available yet. I'm now planning to add this in v6.1, after the v6.0 release (shortly

[2018-01-14 11:25] Kristinita commented on #200
Thanks! Nice idea!

Only I need push `<new_version>.txt` file to GitHub before release creating. So is would be nice to have `beforeReleaseCommand`.

Thanks.

[2018-01-14 11:39] webpro commented on #200
The tool exposes `latestVersion` and `version`, so I think the latter is what you need here.

[2018-01-17 06:05] spences10 opened #204 "not clear on how to release?"
Hi @webpro, thanks for this repo 👍

I've started using it for some of my projects and thought I had it figured out but the last couple of times I have had my CI not create a release.

I presumed that release it bumped up the version number each time but now I'm not sure.

From looking at your projects that use `release-it.` I can't glean what to put into the comment message to do a release.

![ima

[2018-01-17 23:37] webpro commented on #204
What exactly do you want it to do?

What release-it does by default, is bump the version in `package.json`, commit this change with a comment like "Release v1.0.1", and tag and push it. I see you've explicitly disabled the push step... ;-)

Not sure what you've tried so far, bur it's probably a good idea to do a release from your local machine first, so you can see exactly what it does (the `--ver

[2018-01-18 06:49] spences10 commented on #204
Ah! Ok, thanks @webpro 👍

Looks like I need to enable `push` for tags?  I think I was getting an error on my CI with regard to push so I disabled it.

I thining if it was trying to push the branch not a tag 🙃

I have a `GITHUB_TOKEN` created and added to Travis settings thanks,

[2018-01-18 08:21] webpro commented on #204
Enabling `push`, both the branch and the tags with are pushed `git push --follow-tags`. The `tag` option only tags the commit.

[2018-01-18 08:29] spences10 commented on #204
Here's the error I get, apologies for image I'm on mobile.

![screenshot_20180118-082738__01](https://user-images.githubusercontent.com/234708/35087872-939edf70-fc29-11e7-966a-fec8c197505b.jpg)

[2018-01-18 08:35] webpro commented on #204
That's an issue with the state of the Git repo. Can't see what happens before that in Travis.

Again, it's probably a good idea to test your whole setup on your local machine as well.

[2018-01-22 21:18] #200 closed

[2018-01-22 21:22] webpro commented on #200
Ticket #200 inspired the 100th release ([6.1.0](https://github.com/webpro/release-it/releases/tag/6.1.0))! 🎉

[2018-01-22 22:56] LrsNate opened #212 "Uploading Github assets fails with `ERROR Empty value for parameter 'file': undefined`"
Hi guys, happy new year!

First of all thanks for this tool, saves me tons of time, really appreciate :) I've started getting problems with asset uploading: the Github release is created but the assets can't be uploaded to it (to clarify it used to work with that exact setup, then I started having that problem without updating release-it AFAIK). I've added some logs here:

[code]

This block is re

[2018-01-23 11:03] Kristinita commented on #200
@webpro, thanks, it works!

But is it possible get permalinks to commits from `changelog` variable?

For example, part of my `.release-it.json` file:

[code]

Build `<version>.txt` file:

[code]

Expected:

[code]

Thanks.

[2018-01-23 14:33] Kristinita opened #213 "[Bug] Changelog variable for merge branches"
### 1. Summary

`buildCommand` with `${changelog}` variable works incorrect, when I work in 2 GitHub branches.

### 2. Configuration

#### 2.1. Environment

+ Windows 10 Enterprise LTSB 64-bit EN,
+ git 2.16.0.windows.2,
+ release-it 6.1.0.

#### 2.2. Working process

I push my changes to branch `SashaDevelop`. When I ready to release version for production, I merge `SashaDevelop` branch to `maste

[2018-01-24 00:12] webpro commented on #213
If I understand correctly, there's an issue with quotes within changelogs and/or multi-line changelogs. Did you try to use single quotes? Like this:

[code]

or with "here document" notation such as:

[code]

[2018-01-24 00:33] webpro commented on #212
The upload asset API has been changed in node-github v13 (https://github.com/octokit/rest.js/releases/tag/v13.0.0).

I will fix this. This is broken since release v5.2.0. You could downgrade to v5.1.3 (or earlier) in the meantime.

[2018-01-24 00:36] webpro commented on #200
You would have to override the `changelogCommand` for this; looks feasible.

[2018-01-24 03:48] Kristinita commented on #213
If:

[code]

`echo` command still [**incorrect run for me**](https://github.com/Kristinita/SashaBranchReleaseIt/commit/7bf910454e8d5fc24158068682c9422c1e1fce36):

[code]

Thanks.

[2018-01-24 18:44] Kristinita commented on #213
@webpro, I migrate to [**generate-changelog**](https://www.npmjs.com/package/generate-changelog) for changelog generating. It [**works for me**](https://github.com/Kristinita/SashaBranchReleaseIt/commit/2b24a86915a78bb4b4920d3921dfd132216540d0) and [**added permalink**](https://github.com/webpro/release-it/issues/200#issuecomment-359756269).

**But** another users can use `${changelog}` and have t

[2018-01-24 22:53] #212 closed

[2018-01-24 22:53] webpro commented on #212
Should be fixed with [v6.1.1](https://github.com/webpro/release-it/releases/tag/6.1.1)

[2018-01-25 04:15] Kristinita opened #215 "[Question] Required scopes"
### 1. Summary

I don't find, which scopes I need select, when I create GitHub token, that release-it works correct.

### 2. Details

I read [**this item**](https://github.com/webpro/release-it#%EF%B8%8F-github-release) of release-it documentation:

I don't find, which scopes I need to select.

I select all:

![Scopes](https://i.imgur.com/z4fQrOE.png)

Can I not select some of these scopes?

Thank

[2018-01-25 06:07] Kristinita opened #216 "[Question] Variables list"
### 1. Summary

I don't find list of variables, that I can use in `.release-it.json` file.

### 2. Example

For example, I want to add variable — URL of current remote repository.

That it works like this:

[code]

**But** I don't find, which variable I need to use instead of `${remote.origin.url}`.

### 3. Did not help

I don't find list of available variables in:

1. release-it documentation,
1.

[2018-01-25 11:32] Kristinita opened #217 "[Feature request] Ability to use release-it, if no existing tags in repository"
### 1. Summary

I can't begin to use release-it, if no existing tags in repository.

### 2. Settings

#### 2.1. Environment

+ Windows 10 Enterprise LTSB 64-bit EN,
+ git 2.16.0.windows.2,
+ Node.js 9.4.0,
+ release-it 6.1.1.

#### 2.2. Configuration

I have 3 files in [**my example GitHub repository**](https://github.com/Kristinita/SashaChangelogAndReleaseIt):

`.release-it.json`:

[code]

`packa

[2018-01-25 12:45] Kristinita opened #218 "[Question] Incorrect version in changelog, if using custom changelog generator"
### 1. Summary

If I use [**npm generate-changelog**](https://www.npmjs.com/package/generate-changelog) for changelog generating, previous version show in [**release page**](https://github.com/Kristinita/SashaBranchReleaseIt/releases).

![Previous release](https://i.imgur.com/Vax00iP.png)

### 2. Settings

#### 2.1. Environment

+ Windows 10 Enterprise LTSB 64-bit EN,
+ git 2.16.0.windows.2,
+ Nod

[2018-01-25 13:05] webpro commented on #213
Well, I believe it's not really a bug in release-it. Feels more like a challenge to get that changelog into a separate file. I've just tried the above `buildCommand` or the next successfully:

[code]

Another option is to overwrite the `changelogCommand` itself:

[code]

The command `tee` writes to a file and also to `stdout` (`-a` appends to the file).

Will close this issue. If more people have

[2018-01-25 13:05] #213 closed

[2018-01-25 13:08] #215 closed

[2018-01-25 13:09] webpro commented on #215
You only need the first category ("repo"), release-it doesn't need more rights. I've added this to the readme, thanks!

[2018-01-25 13:16] webpro commented on #216
This is exposed:

* everything in https://github.com/webpro/release-it/blob/master/conf/release-it.json
* plus `version`, `latestVersion` and `changelog`

If you start with `--debug` then it first prints the full parsed configuration object.

Added to the readme, thanks!

[2018-01-25 13:16] #216 closed

[2018-01-25 13:26] webpro commented on #217
Something like this should work:

[code]

It's a good idea to `git push` once manually, to make sure the Git repo is configured properly.

(Note that the `git push --set-upstream origin master` can be omitted with the `"requireUpstream": false` option.)

[2018-01-25 13:31] webpro commented on #218
The `"safeBump": true` option is indeed what you need here. This will bump the version in `package.json` before `beforeChangelogCommand` and `changelogCommand` are executed.

There is no need to manually use `bump`, release-it does this for you.

[2018-01-25 14:04] Kristinita commented on #216
@webpro, thanks, I looked into this file. Did I understand correctly that there is no variable for the URL of the current remote repository?

It would be nice, if users doesn't need to add value of this variable for each repository.

Thanks.

[2018-01-25 14:19] Kristinita commented on #218
Thanks, it works!

I get incorrect result, because I test release-it with `--dry-run` option.
Please, compare:

[code]

[code]

I think, that it would be nice, if you add support `safeBump`, if user run release-it with `--dry-run` option.

Thanks.

[2018-01-25 14:20] webpro commented on #216
You could do something like this to get it on the fly:

[code]

[2018-01-25 16:03] Kristinita commented on #216
@webpro , I'm sorry, `$(git config --get remote.origin.url)` doesn't transform to real URL for me.

[code]

Also I try:

+ curly braces instead of round,
+ disable `-f` and `-` arguments.

Thanks.

[2018-01-25 16:24] Kristinita commented on #217
@webpro:

1. I set default remote branch in my previous post. I use `-u` — alias of `--set-upstream`.
1. [**I add `"requireUpstream": false`**](https://github.com/Kristinita/SashaChangelogAndReleaseIt/commit/ee9a4a0a98cc3d233f9b092af44c8b747dd3076b) and use `--set-upstream` instead of `-u`, but I get same error:

[code]

Thanks.

[2018-01-25 19:55] webpro commented on #218
Not sure what exactly the issue is here.

What I can say is that, by default, the `changelogCommand` is marked as a read-only command. So it can also run in a dry run (the other command hooks are not executed in a dry run). However, in your configuration this is overridden (and is executed).

Not sure what you mean with your latest comment regarding `safeBump`. The file is not actually bumped by r

[2018-01-25 20:05] webpro commented on #217
The repo at https://github.com/Kristinita/SashaChangelogAndReleaseIt.git has a typo: `packages.json`.

This issue does deserve a separate/more clear error message, though.

[2018-01-25 20:05] #217 closed

[2018-01-26 06:45] Kristinita commented on #218
**For** my configuration:

**If** `--dry-run`:

[code]

**else**:

[code]

I think, it would be nice, if behavior with `--dry-run` = behavior without `--dry-run`.

**Or** at least specify in README, that `"safeBump": false` doesn't work in `--dry-run` mode.

Thanks.

[2018-01-26 06:54] Kristinita commented on #217
Thanks. I'm sorry.

[2018-01-27 13:42] Kristinita commented on #216
@webpro , assign output of a program to variable is possible ([**Windows example**](https://stackoverflow.com/a/2340018/5951529)), but I don't find cross-platform solution.

It would be nice, if you:

+ say cross-platform solution;
+ or add ${remoteurl} variable.

Thanks.

[2018-01-27 18:23] LrsNate commented on #212
Confirmed on v6.1.1. Thank you 👍

[2018-01-28 18:19] webpro commented on #218
The behavior of using `--dry-run` _should not_ be the same as an actual release.

In a dry run, the version is not actually bumped, so `safeBump` is not relevant here: it doesn't matter when it does not bump.

I think the issue is that `changelogCommand` is considered read-only by release-it so it will also run in a dry-run. However, your custom `changelogCommand` is not a read-only command, right

[2018-01-28 18:19] #218 closed

[2018-01-28 18:20] webpro commented on #212
Thanks for confirming this, @LrsNate

[2018-01-28 18:22] Kristinita commented on #218
@webpro ,

Another release-it users can have this problem.

Thanks.

[2018-01-28 18:22] webpro commented on #216
Support for the content of custom commands (including cross-OS solutions) would be out of scope for this project.

However, adding some of the `repo` information is probably a convenient addition indeed.

[2018-01-28 18:26] webpro commented on #218
Again, `safeBump` has nothing to do with dry runs.

[2018-01-31 16:12] elpdrc opened #221 ""EISDIR: illegal operation on a directory, read" while publishing to a dist"
Case:
- My build phase uses ng-packagr to create from an angular project a 'dist' folder containing not only files but sub folders.
- When running release-it with `dist` option, I get this error.

[code]

I think this is coming from the usage of the `cpy` package to copy files from `dist` to `stage`.
https://github.com/webpro/release-it/blob/master/lib/shell.js#L96

The `cpy` package does not supp

[2018-02-02 13:57] appsolutegeek opened #224 "Documentation or pointers in using release-it in javascript (node 8)"
Hi,

After reading the issues it appears that it is supported to call the release-it in javascript using node v8 or later.

Could anyone let me know some further info, any documentation?

I saw this in the issues, anything else I can do ?

Or is it a case of looking inside the javascript file ?

I presume this is the same package as the cli ?

const ReleaseIt = require("release-it").default

[code

[2018-02-02 18:56] #221 closed

[2018-02-02 18:57] webpro commented on #216
@Kristinita, I've added the `repo` object to use in custom commands in [v6.2.0](https://github.com/webpro/release-it/releases/tag/6.2.0)

[2018-02-02 18:59] webpro commented on #221
Thanks @elpdrc , good catch. I've fixed this in [v6.2.0](https://github.com/webpro/release-it/releases/tag/6.2.0). Directories should no longer throw, and those containing targeted files should be copied.

[2018-02-02 19:03] webpro commented on #224
Yes, this is an undocumented feature indeed. Feel free to use it though, I'll document it shortly.

For now, this is the object the promise resolves with when release-it is done: https://github.com/webpro/release-it/blob/c6d079f7d6bce287b6bf5b48dbf250ab6aed27c8/lib/tasks.js#L213-L217

I'll keep this issue open until it is documented.

[2018-02-03 14:32] nielsgl commented on #172
I had the same problem today, and at least in my case it was about a private repo within an organization. I had to update the token permissions (add `admin:org_hook` permission) and that solved the problem and it all works now 👍  🎉

[2018-02-04 06:06] yeikel opened #227 "Can I customize the commit messages?"
I read the docs, but I did not see any information about the topic.

Can I customize the git commit message?  In my use case, I would like to set a specific text along the desired version instead of the generic "Release xxx". For example, "[Release] xxx"

I am looking for a configuration option that would allow me to do this rather than to change the code for my needs.

Thank you.

[2018-02-04 09:56] Kristinita commented on #216
@webpro,

### 1. Question

Is any way to remove `.git` ending from `${repo.remote}`, use cross-platform syntax?

### 2. buildCommand

Example part of my `.release-it.json` file:

[code]

### 3. Steps to reproduce

I run:

    release-it --no-npm.publish -n -V

### 4. Expected behavior

Part of output:

[code]

### 5. Actual behavior

[code]

If `.git` on end of link, changelog command will work in

[2018-02-04 10:32] webpro commented on #216
I think there are two options:

1. The `remoteUrl` is resolved with `git config --get remote.origin.url` so you can configure the Git repo remote itself to not contain `.git`.
2. You could use something like `https://${repo.host}/${repo.repository}`

[2018-02-04 10:38] webpro commented on #227
Hi @yeikel! Yes, there are two ways to configure the commit message:

1. Use e.g. `--src.commitMessage="[Release] v%s"` from the command line.
2. Set `"commitMessage": "[Release] v%s"` in the `"src"` section of `.release-it.json` (put this file in the root of the project).

Here is the default setting: https://github.com/webpro/release-it/blob/c6d079f7d6bce287b6bf5b48dbf250ab6aed27c8/conf/release-

[2018-02-04 10:39] webpro commented on #172
Thanks, @nielsgl! I'll update the readme with this information.

[2018-02-04 12:45] Kristinita commented on #216
Thank you!

[2018-02-05 16:33] antony commented on #172
Sorry, didn't get around to responding to this as I left the company! Glad you've found a solution @nielsgl + @webpro

[2018-02-05 16:33] #172 closed

[2018-02-06 10:22] cristobal-io opened #229 "Using with npm scripts fails"
Included in a project with npm scripts like the following:

[code]

If I run it directly on the terminal like `release-it` it works properly, but if I run it from the scripts with `npm run release` it is causing the following error:
[code]

I checked and the git status is clean and everything has been pushed, and doing it directly on the terminal always works, even if I do the steps the npm script

[2018-02-06 10:27] webpro commented on #229
I guess `npm run build` causes local changes and, on behalve of release-it, Git says "Working dir must be clean". Not sure about the difference if you run the scripts manually, though.

You could try these options:

1. Add the output dir/files to `.gitignore`
2. Set `requireCleanWorkingDir: false` in the `.release-it.json` config (or from command-line: `--no-requireCleanWorkingDir`)

[2018-02-06 10:32] cristobal-io commented on #229
That worked!

I updated the command with the flag `--no-requireCleanWorkingDir` I have the dist folder being published, so I don't want to add it to `.gitignore`

It was strange because, after the error, git status was clean, and before running `npm run release` I was running `npm run build` so nothing was changed.

However, thanks for the quick response and solution.

Closing the issue.

[2018-02-06 10:32] #229 closed

[2018-02-06 10:33] webpro commented on #229
Cool. You can also use `--verbose` which might give some useful hints in such cases. Good luck!

[2018-02-06 19:49] MichaelMure opened #230 "a release will commit previously untracked files"
For those of us that sometimes keep untracked files in the repository, the silent commit and push of previously untracked files could be a bad surprise.

If the goal is to commit the package.json files, why not select them manually, or at least limit the commit to previously tracked files ?

[2018-02-06 21:52] webpro commented on #230
Good point, that's indeed probably a good idea in most cases.

It's also a good idea to have such files/dirs listed in `.gitignore`, right?

[2018-02-07 10:33] MichaelMure opened #231 "bad version increment for patch release"
For my repo here: https://github.com/MichaelMure/Arbore/

If I ask release-it to do a patch release, it suggest the version `v0.2.1-alpha` even if the current version in both package.json is `"version": "0.2.1",` and the last git tag is `v0.2.1-alpha`.

For a minor version, the suggested next version is `v0.3.0-alpha` which is correct but the changelog list all the commits since the beginning of t

[2018-02-07 10:37] MichaelMure commented on #230
`.gitignore` is not always a practical solution. Currently I have in my repository some untracked files:
- some code experiments in untracked files that I keep around until I do something better with them
- some design document, temporary files to keep some copy paste at hand ...

Those files don't need to be in the `.gitignore` and confuse other peoples working on the repo. Commiting and pushing

[2018-02-07 22:48] webpro commented on #231
The `src.tagName` is used as a template to find (and set) the latest tag. That should contain `%s`, which represents the version and might include a prerelease id such as `alpha`.

So, you should remove `-alpha` from your `tagName` (and `commitMessage`).

[2018-02-07 22:48] #231 closed

[2018-02-07 23:05] webpro commented on #230
I've made the change and released [v7.0.0](https://github.com/webpro/release-it/releases/tag/7.0.0). Thanks!

[2018-02-07 23:05] #230 closed

[2018-02-08 20:05] MichaelMure commented on #230
Thank you !

[2018-02-10 12:58] #224 closed

[2018-02-10 17:24] MichaelMure commented on #231
So, I did what you suggested (https://github.com/MichaelMure/Arbore/commit/c4f6f66c049813e1ba7fbc43c9afbcd3b4eb164b), here is the result:
- 👍 the correct version number is suggested
- 👎 the `preReleaseId` doesn't seems to work. The suggested version is `0.2.2`, not `0.2.2-alpha`.
- 👎 the root `package.json` is properly updated and ready to commit in git, but doesn't show when using `Show updated f

[2018-02-11 08:39] Kristinita opened #233 "[Bug] buildCommand works in 6.2.0, but not in 7.0.2 version"
### 1. Summary

Same `buildCommand` successful works for me for 6.2.0 version, but doesn't work for 7.0.2 version.

### 2. Environment

+ see my environment [**here**](http://kristinita.ru/IT-articles/Fastest-way-to-add-new-version-of-Sublime-Text-3-package#testing-environment),
+ [**my example `.release-it.json`**](https://github.com/Kristinita/SashaBranchReleaseIt/blob/master/.release-it.json),

[2018-02-11 09:05] webpro commented on #233
There was a [breaking change in v7](https://github.com/webpro/release-it/blob/master/CHANGELOG.md), release-it no longer adds untracked files to the release commit (discussed in #230).

For now, you could downgrade to v6.x, or move the changelog into a single, tracked file.

I'm a bit on the fence whether to add something of a `addUntrackedFiles` option to opt-in to the previous behavior, as I thi

[2018-02-11 10:57] webpro commented on #231
Let's consider the incrementing the version only in this ticket. I'll look into the updated/bumped files after this.

Please see https://github.com/webpro/release-it#-manage-pre-releases. A few comments:

* The `preReleaseId` is the identifier to use *if* a pre-release is done. A pre-release is done by incrementing with "prepatch", etc.
* I recommend to use e.g. `--preRelease=alpha` from the comma

[2018-02-11 11:04] webpro commented on #231
Not able to reproduce issues with multiple manifest files (e.g. `app/package.json`). Can you confirm, or make a reproducible test case? Maybe the version was "out-of-sync" and didn't need an update?

[2018-02-11 11:46] posva opened #234 "Minor problem in releases"
Hello!
I was looking at the releases and the release 7.0.1 seems to contain every commit in it (not just the difference between 7.0.1 and 7.0.0). Just letting you know in case you want to manually remove it!

Thanks a lot for creating release-it, it saves so much time! ❤️

[2018-02-11 11:50] webpro commented on #234
Thanks, @posva! Not sure what happened, I think I did the GH releases in the wrong order or something. Anyway, fixed.

[2018-02-11 11:50] #234 closed

[2018-02-11 17:21] MichaelMure commented on #231
Ha, I was indeed using semver wrong.

For the double package.json, you can test with my repo: https://github.com/MichaelMure/Arbore. But now that I think of it, that might be due to the same semver misanderstanding.

[2018-02-14 19:28] Kristinita commented on #233
@webpro, maybe:

If `addUntrackedFiles = True`,

    untracked files behavior as 6.2.0 version.

else:

    untracked files behavior as 7.x.x version.

Thanks.

[2018-02-20 00:43] patrik-piskay opened #245 "Config option for git --no-verify"
Hi, we are using `release-it` for an automated github releases and we'd appreciate a config option to run `git commit` and `git push` cmds with the `--no-verify` option to skip the execution of git hooks (for code formatting/tests)

Would you be open to accepting a PR addressing this?

Thanks!

[2018-02-20 09:37] webpro commented on #245
Hi @patrik-piskay. Good idea! And it probably makes sense to have something of a `src.commitExtraArgs` option or something, so you can put any Git args in there. Not sure whether that should be a string or an array.

An additional benefit is that we can also get rid of the global `force` option then.

[2018-02-20 17:04] patrik-piskay commented on #245
Sounds good!

Would you prefer going for `src.commitExtraArgs` and `src.pushExtraArgs` (and for `dist` too probably?), or something like this?
[code]

[2018-02-20 22:25] webpro commented on #245
There's already `src.git.commit` and `push`, so I think `src.git.commitArgs: []` etc. (and also for `dist`) would be clear and concise. What do you think?

[2018-02-22 17:38] rjaguilar opened #248 "Not getting status messages on a release"
I used to get these messages, when I ran release-it in my CI with version 5.x when running
release-it _semvertype_ -n:

✔ Init (release xxxx for xxxxxx)
✔ Bump version
✔ Git commit
✔ Git tag
 ✔ Git push
✔ npm publish
✔ Done (in 7s.)

However after updating to 7.0.2 I no longer receive any of these statuses. I dont see a configuration for turning this on and off in the configs release-it.json file,

[2018-02-22 21:50] webpro commented on #248
I can't reproduce that on Node v6 or v8. What version of Node.js are you using? Or do you have other information? E.g. try `release-it -n --debug --verbose` so you can see use configuration, and more logs.

[2018-02-22 22:28] webpro commented on #245
This can be closed as #247 was merged.

[2018-02-22 22:28] #245 closed

[2018-02-22 22:28] webpro commented on #204
Closing this due to inactivity.

[2018-02-22 22:28] #204 closed

[2018-02-23 06:39] spences10 commented on #204
Yeah, I'm still not clear on how to use it to be honest.

I'll reopen when I get round to trying to use it again.

Thanks

[2018-02-23 12:38] webpro commented on #204
If you give a clear breakdown of what you want to achieve, I'm happy to discuss.

[2018-02-23 17:01] justerest opened #250 "Unable to load the "angular" preset package (v7.1.0)"
[code]

.release-it.json
[code]

This config file good worked with older versions (example: v7.0.2).

NOTE: My project is not Angular

__release-it__ package is installed as global.
Linux justerest-pc 4.9.0-5-amd64 #1 SMP Debian 4.9.65-3+deb9u2 (2018-01-04) x86_64 GNU/Linux

[2018-02-23 19:32] #250 closed

[2018-02-23 19:33] webpro commented on #250
Thanks, @justerest! Should be fixed with [v7.2.0](https://github.com/webpro/release-it/releases/tag/7.2.0).

[2018-02-26 16:44] 1natsu172 opened #253 "Failed when pushed or PR-merged on Travis CI"
Hi, @webpro .

I am trying to use release-it from Travis CI at PR-merged. But release-it doesn't work on TravisCI because it has forced check out to commit(`git checkout -qf <commit-hash>`) internally after merging PullRequest.

Since this is in the state of detached HEAD, it's an error in the processing of `git rev-parse - abbrev-ref - symbolic-full-name @ {u}`(function of release-it/lib/git.js)

[2018-02-26 17:37] rjaguilar commented on #248
Will get you more info

Currently running node 8.9.4

[2018-02-27 05:03] rjaguilar commented on #248
`04:59:57 > release-it $VERSION -n --no-requireUpstream --no-requireCleanWorkingDir -debug --verbose
04:59:57
04:59:58 $ git rev-parse --git-dir
04:59:58 .git
04:59:58 $ git config --get remote.origin.url
04:59:59 git@github.com:XXXXXXX/XXXXXXX.git
04:59:59 $ git rev-parse --abbrev-ref --symbolic-full-name @{u}
04:59:59 fatal: No upstream configured for branch 'master'
04:59:59 $ git describe --ta

[2018-02-27 10:10] webpro commented on #248
I think it's doing a dry run here, as `-debug` is missing a dash, and gets converted to `-d`. Please try again with `--debug`.

[2018-02-28 20:55] rjaguilar commented on #248
0:49:35 > release-it $VERSION -n --no-requireUpstream --no-requireCleanWorkingDir --verbose --debug
20:49:35
20:49:36 2018-02-28T20:49:36.290Z release-it:config { _: [],
20:49:36   true: false,
20:49:36   n: true,
20:49:36   'non-interactive': true,
20:49:36   nonInteractive: true,
20:49:36   requireUpstream: false,
20:49:36   requireCleanWorkingDir: false,
20:49:36   verbose: true,
20:49:36   V:

[2018-02-28 20:55] rjaguilar commented on #248
dont really see anything out of the ordinary...

[2018-03-01 23:45] webpro commented on #253
Hi @1natsu172! This is indeed an issue when travis does that.

* Without an upstream, `--no-requireUpstream` would add `--set-upstream origin [current-branch]` when pushing. But in this case (clone from `master`) that would not be necessary.
* Not very elegant, but you could configure `src.beforeStartCommand` to something like `"git checkout master"` (or `--src.beforeStartCommand='git checkout mas

[2018-03-02 00:05] webpro commented on #248
Configuration looks fine indeed.

Just saying: with `--verbose` and/or `--debug` it won't show the spinners/checkmarks + status messages (like in your opening post). But this was the case in previous versions as well.

Is there no output at all?

[code]

[2018-03-02 04:52] rjaguilar commented on #248
correct no output at all except Success

[2018-03-02 13:55] webpro commented on #248
OK let's see if we can pinpoint this to a specific release. So, 5.2.0 is OK, and 7.0.2 is NOT OK.

Do you get output with v6.2.0? You can install with `npm install -g release-it@6.2.0`. Trying to pinpoint by "divide & conquer" (also, v7 has a minor update of ora).

Sorry for the hassle, there's not much else I can do for now, as I can't reproduce the issue.

[2018-03-02 15:02] rjaguilar commented on #248
no worries...i'll try when I have a new release to put out.

[2018-03-03 17:34] 1natsu172 commented on #253
It's not elegant but it worked if I checkout to `master` with the `src.beforeStartCommand` hook! 🎉

Thanks for helps & this tool 👍

[2018-03-03 17:34] #253 closed

[2018-03-03 17:59] 1natsu172 opened #260 "Increment setting using `conventional-changelog- *` doesn't work."
Hi @webpro , I faced a new problem.

In a project using "conventional-changelog-atom", I want to automate Increment, so I set it up. But it doesn't work. This is happening in both the local & CI.

**.release-it.json**

[code]

## Logs

`--debug`&`--dry-run`

[code]

An error occur in the process of parsing the latest version of Git. I don't know why .... 🤷‍♂️

But If I delete the `"Increment"` fie

[2018-03-04 12:24] #260 closed

[2018-03-04 12:27] webpro commented on #260
Thanks for the bug report, @1natsu172. I forgot to remove a piece of code when starting to support all conventional-changelog presets. Fixed in [v7.2.1](https://github.com/webpro/release-it/releases/tag/7.2.1).

Btw, you don't need to install the preset yourself, it should come with release-it.

[2018-03-04 13:58] 1natsu172 commented on #260
Thanks very fast fixing bug, @webpro . I updated to v7.2.1 and run . It works well with `conventional-changelog-atom` style!

wow, certainly `conventional-changelog` is included in dependencies… thanks for teaching me. 😃

[2018-03-06 09:47] Kristinita commented on #233
@webpro , any ideas?

I don't think, that downgrade is a best idea.

Thanks.

[2018-03-11 14:31] philippefutureboy opened #262 "rollback feature ⏱"
Hey!

I was wondering if you would consider having a rollback feature – i.e. one that rolls back if the process crashes midway (for instance npm credentials fail, but everything else has been pushed). I think it would be a great addition to release-it :)

Cheers ✨

[2018-03-11 15:43] MichaelMure opened #263 "release-it can't find .release-it.json"
Release-it complains that the config file doesn't exist when it actually exist.

It happens with v7.2.1, v6.0.0 but not with v2.8.0.
On linux debian.
Node v7.7.2 and v9.2.1

[2018-03-14 13:40] DanielRamosAcosta opened #266 "[Feature] Gitlab integration"
It would be awesome a Gitlab integration.

[2018-03-16 13:08] webpro commented on #263
Probably the file is invalid JSON. Can you please double-check?

[2018-03-16 13:08] #263 closed

[2018-03-16 13:12] webpro commented on #266
Hi @DanielRamosAcosta! This tool should work with any Git repository.

Personally, I don't work with Gitlab. Are you referring to a specific feature, such as GitHub Releases, to work in a similar fashion with Gitlab?

[2018-03-16 13:20] webpro commented on #262
Hi @philippefutureboy! That would definitely be cool.

It's not trivial, however. For instance, release-it would have to "change history" of a Git repository, and this is pretty risky imho (e.g. remove tag, revert to the correct commit).

In your example, one could still `npm publish` manually. I'd rather do this manually, depending on the issue at hand. Still, feel free to explore this idea furth

[2018-03-16 14:35] webpro commented on #233
You could add something like `git add messages/${version}.txt` to a command to make sure a file gets added to a release commit.

[2018-03-16 15:58] DanielRamosAcosta commented on #266
Yes, I was thinking about the Releases and assets upload.

[2018-03-16 16:24] webpro commented on #266
Feel free to open a PR and explore this idea further. I'm interested as well.

[2018-03-16 17:32] DanielRamosAcosta commented on #266
I'll look into it, thanks!

[2018-03-16 19:53] philippefutureboy commented on #262
True it is not a trivial matter to implement. However I don't see it to be overly complex either. I don't have a lot of time, but I'll check what I can do in the next few weeks to contribute to the feature.

In the meantime if you suddenly have a strong urge to implement the feature, don't wait for me 😛

[2018-03-16 20:30] MichaelMure commented on #263
That was indeed an invalid json (a comma too much).

Maybe a message less misleading would be helpful.

[2018-03-21 01:32] colinkahn opened #268 "Committing untracked files to a dist release"
I've found this change and was wondering if there is a way to replicate the old behavior?

https://github.com/webpro/release-it/commit/3454a017f1cd5ea5ef98ec5655f7ad0286357c58#diff-89fd8e8ef20565f129343f363cc8433cR49

I'm pushing up releases to a github distribution repository and while it is copying my dist files to .stage is says there is nothing to commit since they're not tracked.

Thanks!

[2018-03-22 18:41] IamTheHttp opened #270 "Incorrect bump of file version"
Hey,

using version 7.2.1

When using "release-it" (as a command) I'd expect the patch to be incremented.
I have a project where the version was incorrectly bumped.

As you can see from the commit history echoed by the script, there were already releases done (10.0.3) and (10.0.4) but the suggested bump is to 10.0.2

Has this happened to anyone?

<img width="919" alt="screenshot 2018-03-22 20 33 1

[2018-03-29 21:08] dsebastien opened #273 "git error on commit with git bash"
Hello,

I've configured release-it for my project, but I have trouble getting it to do the commits in git bash

I get the following error when executing release-it:
[code]

Although I use git everyday in that shell. After searching a bit, I realized that the git commands are executed in an environment that takes into account my Windows environment and not my git bash environment. When I run in git

[2018-03-30 16:15] #268 closed

[2018-03-30 16:17] webpro commented on #233
I've added `src.addUntrackedFiles` to the configuration options in [v7.3.0](https://github.com/webpro/release-it/releases/tag/7.3.0).

[2018-03-30 16:17] #233 closed

[2018-03-30 16:17] webpro commented on #268
Hi @colinkahn, thanks for the report. I've added `src.addUntrackedFiles` to the configuration options in [v7.3.0](https://github.com/webpro/release-it/releases/tag/7.3.0).

[2018-03-30 16:19] webpro commented on #270
Hi @IamTheHttp. Are you sure the git tags (e.g. 10.0.3) actually exist?

[2018-03-30 16:26] colinkahn commented on #268
Awesome! Thanks 👍

[2018-03-30 16:49] webpro commented on #273
Hi @dsebastien, if Shell.js has a way to execute the commands in an alternative shell, this could be added as a configuration option. There might be a way: https://github.com/shelljs/shelljs#execcommand--options--callback (`{shell: 'path/to/bash'}`). You could give this a shot, test it with Git Bash, and I'm happy to consider your PR.

[2018-04-04 07:13] IamTheHttp commented on #270
Hey @webpro

I found the issue, it seems that while doing "git pull" it did not fetch all the tags from the remote.

So while in the git log i saw all the commits and all the commits of the tags (like "release 10.0.4", it did not in fact fetch all the tags themselves.

I think the release-it mechanism checks the tags to decide the next version to be bumped, and no the version in the package.json,

[2018-04-04 09:57] remcogerlich opened #275 "mime.lookup does not exist error from github package"
The version of "github" that is used by release-it appears to call a function "mime.lookup" in a version of mime that doesn't have that version anymore. This causes the Github uploading part of release-it to fail (for me, anyway).

The Github package has also been renamed to "@octokit/rest", and the latest version of that should work. So I think release-it can just switch to using that.

[2018-04-04 10:01] remcogerlich commented on #275
Crap, I'm using an old version it seems, thought I checked with master. Sorry!

[2018-04-04 10:01] #275 closed

[2018-04-06 17:48] yeikel commented on #227
That worked. Thank you

[2018-04-06 17:48] #227 closed

[2018-04-08 18:52] webpro commented on #270
This is indeed intended behavior of release-it. Perhaps you can do a `git fetch --tags` to fetch the tags?

[2018-04-08 18:52] #270 closed

[2018-04-08 19:08] IamTheHttp commented on #270
Once we figured out the problem that indeed solved it.
Is it possible to add a warning that the version in the package.json and the last known tag are not the same? it can be a soft warning to maintain backwards compatibility.

I'd be happy to create the PR if you can just point me where to look :)

[2018-04-09 19:36] IamTheHttp opened #278 "Roadmap for release-it"
Hey.
I was wondering what's the best way to contribute to this project.
Is there any planned roadmap?
Support for maintaining more platforms?
Known issues(to the author) that need to be tackled?

If help is needed I'd be happy to help!

[2018-04-10 15:48] webpro commented on #278
Hi @IamTheHttp, to be honest, there's not really any kind of roadmap. This tool basically does what I want from it, and I'm happy to consider feature requests and bug reports from others.

Issues #266 and #273 are good examples of features that I'm happy to consider, but not personally interested in (at least not atm).

Overall, further improvements of the codebase, tests, and documentation to mak

[2018-04-10 17:24] sebs opened #279 "release-it forgets about change in package.json"
Using latest release ;)

[code]

Intended result: package.json is mutated and pushed

Result: package.json is mutated, but not pushed.

my config

[code]

[2018-04-10 18:09] webpro commented on #279
Hi @sebs!

Do you have a reproducible test case?

My gut tells me the version in `package.json` was already at the next version. Could this be the case? Can you double-check the latest Git tag matches `package.json#version` with the next release?

[2018-04-10 20:19] sebs commented on #279
it happens reproducably on each release.
I resorted to add a postrelease step.

release-it is triggered via a npm script

[2018-04-10 20:39] sebs commented on #279
well, actually ... cant reproduce it with a empty repo

[2018-04-10 21:17] IamTheHttp commented on #279
I think @webpro comment regarding the git tag is the correct approach.
I tried reproducing this issue as well, The only way I could reproduce it is by manually advancing the package.json version ahead, and then trying to release-it to that version, this creates the exact behaviour above.

I'm also curious about the output of git tag -l

[2018-04-11 07:00] sebs commented on #279
output

[code]

I swear (tm), I am not changing the version number myself

[2018-04-11 08:56] webpro commented on #279
What happens internally, is that release-it reads the latest tag using `git describe --tags --abbrev=0`, and uses the `version` from package.json as a fallback. Then increments the result, e.g. with `patch` `v0.5.0` becomes `v0.5.1`. The `version` in package.json is updated, and this change is staged and committed. This commit is then tagged as `v0.5.1`.

An error (e.g. can't write file) bumping `

[2018-04-11 10:39] IamTheHttp commented on #279
Can we maybe check if the latest tag does not match the package json version?
this doesn't have to be a blocking error, but a soft warning that the user will see.

"Warning, latest tag found was %tag, package.json version is %version, are you sure you want to continue?"

We also encountered a similar problem.

[2018-04-11 12:00] sebs commented on #279
@webpro Oh, my bad for not giving the help a look. It might have to do with my prerelease step: A polymer selenium test. This might not error code (0) correctly enough. I will give it a try.

Hey btw: Thank you for answering this!

[2018-04-11 20:03] sebs commented on #279
Thing is: commitplease breaks the commit.

Rightly so. I expect a 'Release: version` and not 'Release version' message. The would make the difference.

[2018-04-12 14:54] webpro commented on #279
@sebs Not sure I understand. Sounds like we can close this ticket?

[2018-04-12 18:50] webpro commented on #279
@IamTheHttp, @sebs, I've released [v7.4.0](https://github.com/webpro/release-it/releases/tag/7.4.0), which warns for inequality between latest git tag and npm version.

[2018-04-12 18:50] #279 closed

[2018-04-14 09:32] sebs commented on #279
<3

Yes you can. The bug disappeared after a reinstall. Not sore what this was. But for sure the same message "Release 1.0.0" now goes through. Very much apprechiate your help. Thank you. Even if this was a heisenbug!

[2018-04-14 19:07] jvanbruegge opened #283 "[Question] How to reenable pretty Github releases"
You can see quite easily where I have updated release-it. It's a wonderful tool, but how to I get those back? I put an `increment: "convetional"` in a .release-it.json, but that did not work (that part of the readme is not really clear)

![image](https://user-images.githubusercontent.com/1529052/38771678-891d8d66-4027-11e8-8d7b-db662c6c5361.png)

[2018-04-15 14:07] webpro commented on #283
Hi @jvanbruegge, thanks!

* You're looking for the `github.release: true` setting (or `--github.release` from the CLI). This was a [breaking change in v3](https://github.com/webpro/release-it/blob/master/CHANGELOG.md#v30). Also see [GitHub Release](https://github.com/webpro/release-it#%EF%B8%8F-github-release).
* The `increment: "convetional"` has a typo, and also misses the convention, such as `a

[2018-04-15 18:01] tkhduracell opened #284 "Error 422: ReleaseAsset already exists"
When uploading release assets the upload fails of that file fails. GitHub release is created by, the executable artifact is not uploaded.

**Config**
[code]

**Output**
[code]
Example:
https://github.com/tkhduracell/node_kola-launcher/releases/tag/1.2.0

![image](https://user-images.githubusercontent.com/1007519/38781595-d29e4118-40e7-11e8-8c7e-a5e0991ebc97.png)

[2018-04-18 21:58] tkhduracell commented on #284
I'll give it another round then. I'll get back!

On Mon, Apr 16, 2018, 22:19 Lars Kappert <notifications@github.com> wrote:

[2018-04-20 21:08] warnockf commented on #284
I'm also experiencing this issue. Run it again with `DEBUG=octokit:rest*`. It looks as if the assets are being uploaded twice.

[2018-04-22 02:00] matgargano opened #290 "Not working (I am probably doing something wrong)"
Hi, I have set up two repos:

https://github.com/matgargano/test-release-it
https://github.com/matgargano/test-release-it-release

The idea is that test-release-it will compile scss/js files into the dist directory which would be included as part of the release in the test-release-it-release repo.

I believe I have configured them properly following https://medium.com/@webprolific/using-release-it

[2018-04-23 19:55] webpro commented on #290
Hi, @matgargano!

First of all, I think it's very useful to try the `--verbose` option to see what's going on under the hood.

Then, what might go wrong here, is that release-it, by default, copies the files from `dist/**/*` (the `dist.baseDir` and `dist.files` settings) to where the dist repo is cloned (the `dist.stageDir` setting). So the output of the `buildCommand` should match with these sett

[2018-04-23 20:09] webpro commented on #284
Looks like the issue occurs with a `.exe` file, but not with a `.txt` file. Maybe file size matters? I blame the octokit package for now. I'll dig deeper if I have some time in the next days.

[2018-04-23 21:28] warnockf commented on #284
@webpro
The issue I was experiencing was due to the hardcoded 10 second timeout value when calling the octokit method. I suspect that Github won't allow assets to be uploaded if the name matches even a failed upload, so subsequent retries will cause an error due to the asset already existing. I've created a pull request that adds the timeout to the config: [https://github.com/webpro/release-it/pul

[2018-04-24 00:32] matgargano commented on #290
Thanks @webpro but I think I am just a little too obtuse to understand what is going on -- i created two npm tasks in my package.json (one being `release-it` and another `release-it --dryrun`) they exhibit two different patterns if i follow along... without `dry-run` creates a temporary directory that respects project in  `"stageDir": ".stage"` with `dry-run` it uses a temp directory. It also copi

[2018-04-24 05:48] webpro commented on #290
Did you try `--verbose`? You can then see step by step what is going on. (With a `--dry-run`, no changes are actually made.)

I would suggest to use a different `dist` directory for the `dist` repo (not have "itself" fully as dist base). Otherwise, the `.stage` dir is part of itself... Additional files can be copied over as needed, and there should be separate `package.json` files for instance. By

[2018-04-24 13:08] matgargano commented on #290
Thank you for being so responsive... yes I did, i also added a npm script for verbose `npm run release-verbose`

so I see this line in particular: https://gist.github.com/matgargano/492030b0c4fa2b3d3b47e4b25366c1cf#file-output-log-L50

I try running that command on my bash cli and copy isn't a command (`cp` obviously is...) is that some sort of node call?

[2018-04-24 19:05] webpro commented on #290
The log line is printed by https://github.com/webpro/release-it/blob/9efd866db0ee60c059748852ef8cee7616ac8832/lib/shell.js#L99
Most execution logs represent actual shell commands, but some represent JS function calls. In this case, the [cpy](https://github.com/sindresorhus/cpy) package is used to copy files.

The files are copied from `.final` (which is the `dist.baseDir` setting), so I guess that

[2018-04-26 06:08] swernerx opened #292 "Should probably not rely on local Babel"
First thanks for the great package! I am using it in a ton of my own OSS projects.

I wonder whether it would be possible to transpile the code before uploading it as an npm package. I am trying to move a few of my packages to Babel v7 and seeing some issues with the resolver in npm/yarn trying to resolve a local v6 and v7 requirement. Generally I thought it's somewhat best practice to publish onl

[2018-04-26 19:42] #283 closed

[2018-04-27 15:34] webpro commented on #292
Hi @swernerx, thanks!

Do you have some resources? I understand the downside, but this is quite annoying for many projects to set up, and it also hurts performance and adoption of new JS features.

In any case, once Babel v7 is stable/released, I'm happy to migrate.

What I could do, is apply `babel-register` only for Node v6 (release-it can run without transpilation on Node v7 and higher). There

[2018-05-02 18:39] webpro commented on #292
I have released [v7.4.3](https://github.com/webpro/release-it/releases/tag/7.4.3) which no longer uses `require('babel-register')` for Node v7 and higher.

i don't think this solves your issue, but it's what all I can offer right now, so I'm going to close this ticket.

[2018-05-02 18:39] #292 closed

[2018-05-02 18:49] webpro commented on #248
Closing this due to inactivity. Feel free to re-open as needed.

[2018-05-02 18:49] #248 closed

[2018-05-16 15:18] chooban opened #301 "Fatal git errors don't cause release to fail"
I've been trying to get CircleCI set up with release-it, and I've been running into a few issues, one of which is that fatal git errors don't cause the process to fail. This has led to some further issues where I have an npm package at patch version _n_ and a git repo that is still at _n-1_ for tags and commits.

From my Circle output...

[code]

You can see that the git tag and package version ha

[2018-05-16 19:11] webpro commented on #301
Hi @chooban, thanks for the report!

That's indeed very naive from release-it. I've just fixed this in [7.4.5](https://github.com/webpro/release-it/releases/tag/7.4.5). It should throw and bail out in situations like you've reported.

Sounds like you've fixed your specific issue, great! Thanks again.

[2018-05-16 19:11] #301 closed

[2018-05-22 22:17] clepore opened #303 "Asking for SSH RSA pw before "npm publish""
I'm not sure why its doing this, because I use `https` to clone the repo, but it asks for my passphrase before publishing to NPM? I do not use SSH github anymore and I double checked that my remotes are all HTTPS.

When it fails there, everything was already pushed/released to github so it seems the SSH passphrase is irrelevant. Also my token is working fine.

This is my `--verbose --debug` output

[2018-05-22 22:37] clepore commented on #303
My apologies. The issue ended up being my `npm.publishPath` having something incorrect in it and the error threw me off.

[2018-05-22 22:37] #303 closed

[2018-05-29 06:53] Nriver opened #305 "how can I use release-it to publish a release and set it to the latest release?"
When I publish a new release with release-it, the newer release is not marked as the latest release.

![image](https://user-images.githubusercontent.com/6752679/40642325-5e5ca472-634f-11e8-907b-ae472dcf1f97.png)
As shown above, 0.0.15 is the release I just published, while 0.0.14 is marked as the latest release. Is there any configuration that I missed?

[2018-05-29 07:01] webpro commented on #305
I think this means that no actual Github Release was done, it just shows the latest tag. Did you use the `github.release: true` option (or `--github.release` from the command-line) with release-it?

[2018-05-31 19:02] maiamcc opened #306 "Git: arbitrary remote names"
Is there a way to set an arbitrary remote name or does the git release feature only work if your remote is named `origin`? ([Looks that way from the code](https://github.com/webpro/release-it/blob/f451b9999a753030664e8cffbc97d7b8e3df7d87/lib/git.js#L21)...?)

[2018-05-31 19:07] maiamcc opened #307 "Unhelpful error message for malformed config file"
If I have bad json in `.release-it.json`, I get a `FileNotFoundError`, which is confusing b/c the file IS there -- the problem is the json syntax.

**Repro steps:**

`.release-it.json` contents:
[code]
(This is bad JSON -- note missing curly bracket)

Error message:
[code]

When I correct the JSON syntax, `release-it` runs correctly.

[2018-06-01 08:41] #307 closed

[2018-06-01 08:43] webpro commented on #307
Thanks, @maiamcc! Not sure how this happened, but it's fixed now in [v7.4.6](https://github.com/webpro/release-it/releases/tag/7.4.6).

[2018-06-01 08:53] webpro commented on #306
Hi, @maiamcc. It currently only works with `origin` now. Apparently you're the first that needs a different name. Happy to accept a PR that features this!

[2018-06-04 14:05] Nriver commented on #305
I did not set the GITHUB_TOKEN in environment variable. This issue can be closed.

[2018-06-19 18:15] PatriceVignola opened #316 "Automatic mode hangs when credentials are not saved"
When releasing via the automatic mode (-n flag), if the credentials are not saved, it doesn't ask for them. Instead, the "git push" spinner spins indefinitely while the credentials prompt is hidden. A workaround I found is using the --verbose flag, but it's not ideal of course. I recently cloned my project on a brand new computer and it took me a long time to understand why the release commands we

[2018-06-24 20:34] vvo opened #320 "Automatic new semver value"
(1. I love release it)

By default release-it asks the user the version for the next release (or consider patch by default), what if it pre-selected that next version in a smarter way by identifying what is the most probable new version based on conventional changelog?

For example we could publish a new major of release-it where by default it would preselect a version or use patch when none found

[2018-06-24 20:38] vvo commented on #320
Just saw the recommended bump option: https://github.com/webpro/release-it#recommended-bump

[2018-06-24 20:38] #320 closed

[2018-06-26 07:17] webpro commented on #320
:-)

[2018-06-28 10:20] webpro commented on #316
Hi @PatriceVignola, thanks for your bug report. This one is a bit tricky to tackle. There is no way to detect a prompt in such a shell sub-process.

One possible strategy could be to add a timeout for such a task. After the timeout, the task could be retried. But enabling verbose mode for the retry, and getting a prompt to enter credentials would go against CI/non-interactive mode. So I'm leaning

[2018-07-05 18:21] #305 closed

[2018-07-10 13:02] chris-miaskowski opened #324 ""ERROR Invalid Version" thrown if latest tag is not a semver"
https://github.com/webpro/release-it/blob/a0ecfd40fe72c3ae0ba1bc93f2a28df9e7c11f87/lib/version.js#L34

The line above causes the code to break in runtime if the latest tag doesn't follow a semver format. While this is not a problem most of the time, it does break in some workflows (e.g. nightly builds we tag do not follow a semver format but we don't take them into account when releasing). I think

[2018-07-15 08:16] ArthurianX opened #326 "DIST different repo staging problem"
Hey guys, awesome utility you've got here.

I've got only one problem so far, when publishing to a different dist repo, the way the distribution files are staged is a bit not ok for me.

I used `verbose ` mode and I saw that that  staging of a dist repo is updating like this
`git add . --update`
this means (and I've stumbled on it) that only updated files are getting to the dist repo, if I add a n

[2018-07-16 10:02] ArthurianX commented on #326
Awesome!

Just tried it out, it works!

Thanks a lot @webpro

[2018-07-16 10:02] #326 closed

[2018-07-23 12:49] eugef opened #329 "Allow to release only from a specific branch"
Is it possible to allow release only from a specific branch (master for example)?

[2018-07-24 18:51] webpro commented on #290
Closing due to inactivity. Feel free to re-open and discuss further.

[2018-07-24 18:51] #290 closed

[2018-07-24 19:05] webpro commented on #329
Hi, @eugef!

Not by configuration. However, you could use a little script like this:

[code]

[2018-07-24 19:36] #324 closed

[2018-07-24 19:45] webpro commented on #324
Hi @chris-miaskowski. Thanks for the bug report. Totally agree this should be handled more defensively. I've just released [v7.4.8](https://github.com/webpro/release-it/releases/tag/7.4.8) that includes [this fix](68cf7cbe37c302ac3ed954ab54f1f351a3ec2b37).

[2018-07-26 07:31] BBlackwo opened #330 "Detect if a release is required. If not, exit."
Would be nice if we could run this always in our CI and it wouldn't release if there's not a change that requires a release.

So if we just have a `chore` or `docs` commit it should not update the version or publish. It should only bump it on `feat` or `fix`.

My config:

[code]

I've dug into [the code](https://github.com/webpro/release-it/blob/7.4.8/lib/version.js#L16) are we're relying on [conv

[2018-07-26 07:34] BBlackwo commented on #330
I've used a similar tool in the past and it does this check upfront: https://github.com/leonardoanalista/corp-semantic-release#actions-performed

[2018-07-26 08:23] webpro commented on #330
Hi, @BBlackwo! It's not very elegant, but for now maybe you could use the `src.beforeStartCommand` to verify this:

[code]

[2018-07-31 17:11] nickgravelyn opened #333 "Dist repo defaults to not tagging, even if config set to true"
I've been using release-it for only a short period and it's working well but I recently started trying to setup a distribution repository and have run into a weird behavior where the default is to not tag the distribution repository. That seems odd given the [default configuration](https://github.com/webpro/release-it/blob/master/conf/release-it.json) has `dist.tag: true`, but even if I set `dist.

[2018-07-31 17:40] nickgravelyn commented on #333
Just realized there is a separate section for prompt settings: https://github.com/webpro/release-it/blob/master/conf/release-it.json#L70. Changing those in my config fixed the issue.

[2018-07-31 18:36] webpro commented on #333
Hi, @nickgravelyn! Glad you figured it out. It's documented at https://github.com/webpro/release-it#-interactive-vs-non-interactive-mode, but I'm all ears if this can be improved upon, as I understand the distinction isn't always clear.

[2018-08-01 14:21] Jpunt opened #335 "Support npm's two factor auth"
Instead of asking for my OTP, `release-it` fails as soon as I want to publish to NPM. I now have to manually run `npm publish`, where I'm properly asked for my OTP. It would be nice if this is integrated!

[2018-08-03 09:32] webpro commented on #335
Hi, @Jpunt! That feature should indeed be available.

I've just released [7.5.0-beta.0](https://github.com/webpro/release-it/releases/tag/7.5.0-beta.0) that has this integrated. When provided nothing, the OTP will be prompted for. The OTP can also be provided with `--npm.otp=123456` from the command line (useful for non-interactive/CI mode).

Could you & others please try this before I release thi

[2018-08-03 10:34] webpro commented on #335
Thanks for trying!

The `--npm.otp` argument is indeed an error-prone approach. Not sure how that value could even be obtained without another device (it would defeat the concept of 2FA). Still, there might be use-cases cq. one could prefer to use `-n --npm.otp=123456` to prevent any prompts.

This release is to get things going, I still need to make sure the OTP prompt doesn't show up in CI/`-n`

[2018-08-03 10:41] Jpunt commented on #335
Sounds great! 👍

[2018-08-06 20:31] webpro commented on #335
Released in [v7.5.0](https://github.com/webpro/release-it/releases/tag/7.5.0)

[2018-08-06 20:31] #335 closed

[2018-08-08 10:51] antonmedv opened #338 "Add support for OTP"
I have 2FA for all my npm packages. Will be cool to see OTP in release-it.
[code]

[2018-08-08 10:53] webpro commented on #338
It was just added in [v7.5.0](https://github.com/webpro/release-it/releases/tag/7.5.0). Guess I stil need to update the docs!

[2018-08-08 10:53] #338 closed

[2018-08-09 16:53] charlwillia6 opened #340 "Pick a Specific Branch or Commit?"
I am not sure if I am missing it somewhere, but I am not seeing an option to pick the branch or commit that you want to create the release from.  In the API it is the `target_commitish` option.  Is there not a way to do this with release-it?

[2018-08-10 10:04] webpro commented on #340
That option indeed doesn't exist (yet). You up for a PR? :-)

What API do are you referring to, Git itself?

[2018-08-14 17:30] rodeyseijkens commented on #333
There is still a in my opinion a weird check here cause it only tags the `dist` when the `tagName` doesn't match see: https://github.com/webpro/release-it/blob/master/lib/tasks.js#L196

It took me an hour to figure out why it wasn't tagging properly until I looked into the source and saw it does a specific check after if the `tagName` doesn't match.

I somewhat get it why the check is there to pre

[2018-08-17 11:17] #266 closed

[2018-08-17 11:17] #262 closed

[2018-08-17 11:17] #273 closed

[2018-08-17 11:17] #278 closed

[2018-08-21 05:48] webpro commented on #333
Closing this as #342 is merged.

[2018-08-21 05:48] #333 closed

[2018-08-23 11:12] #306 closed

[2018-08-23 11:14] webpro commented on #306
The `src.pushRepo` config now accepts both remote url's and names (just released with [v7.6.0](https://github.com/webpro/release-it/releases/tag/7.6.0)).

[2018-08-23 11:29] mads-thines commented on #335
Hey!
I'm running 7.6.0, but gets the same error as Jpunt.
When i try to publish through release-it i get the following error:
[code]

Any idea what I'm doing wrong? :)
I've tried to both add the -n and --npm.otp argument, but same issue :)

[2018-08-23 11:40] webpro commented on #335
Hi, @mads-thines. Not sure if the error is the same:

[code]

Is the npm user configured? You can check with `npm whoami`.

[2018-08-23 12:00] mads-thines commented on #335
Hey!
Thanks for getting back so fast :)
Yes, and it returns my user. It also works when using the regular npm publish way. :)

[2018-08-23 12:12] webpro commented on #335
And now I remember #95. [This comment](https://github.com/webpro/release-it/issues/95#issuecomment-344176825) might contain a solution.

[2018-08-23 12:36] mads-thines commented on #335
Yes, that solved the issue. Thanks!!
If I don't add any arguments it prompts me and it works, but it would be awesome if i could get the `-n` argument to also prompt for otp.
Currently my script is `release: release-it -n`, and then run yarn release --npm.otp=myKey.

Nonetheless, thanks for the help :)

[2018-08-23 13:08] webpro commented on #335
I see, but `-n` is `--non-interactive` and that would kind of go against a prompt for OTP.

[2018-08-23 13:43] mads-thines commented on #335
@webpro and that totally make sense! :)

[2018-08-23 15:29] zchome opened #348 "Unable to create github release via proxy (octokit config)"
Dear release-it team,

would be nice if release-it can support proxy config for github release. Because of firewall restriction, our release to github enterprise server must be sent through a http proxy.

I have checked some documents that the tool "octokit" (used by release-it) supports proxy config.
[Official tutorial](https://www.npmjs.com/package/@octokit/rest/v/14.0.1)
[Proxy issue](https://g

[2018-08-30 03:13] StevenBlack opened #350 "GPG sign tags"
Hi Lars!  I'm experimenting with GPG signing commits, and I notice *release-it* doesn't support the `[-S[<keyid>]]` option for `git commit`, nor the `--sign` option on `git tag`.

See, for example, [Signing tags using GPG](https://help.github.com/articles/signing-tags-using-gpg/).

I'm just experimenting for now, and since *release-it* is in my workflow, it would be nice if it supported signing co

[2018-09-03 20:35] webpro commented on #348
Hi @zchome! Sorry for late reply. I've just released [v7.6.1](https://github.com/webpro/release-it/releases/tag/7.6.1), that has the `github.proxy` option. Please let me know if it works for you.

[2018-09-09 01:59] StevenBlack commented on #350
Thanks Lars @webpro!

Sorry for taking so long to get back to this.

I [configured my release.json](https://github.com/StevenBlack/hosts/commit/13f1869d6ed2781753bc3595762ce00e4e6499f5) just as you suggest and it worked great!  Thank you!

![2018-09-08_21-57-05](https://user-images.githubusercontent.com/80144/45260322-6e3f6880-b3b2-11e8-98c1-ab2e3df7941a.jpg)

[2018-09-09 02:00] #350 closed

[2018-09-15 15:29] lopugit opened #356 "who coded this?"
sheesh

[2018-09-15 15:29] lopugit commented on #356
thanks for the free software but man, seems like it was done in a rush

[2018-09-15 16:34] lopugit commented on #356
I had to patch my own code too https://github.com/lopudesigns/werelease/commit/f5427d0fd3033a4e4cfd066eb0dbbed5dfe68918

[2018-09-16 00:36] mrchief opened #357 "NPM publisj from CI environment"
How does this tool release to NPM from a CI env like travis? I don't see any optoin to pass the npm token for publishing.